.c-categories.c-categories-template-5 .widget-header + .widget-content {
    margin-top: 25px;
}
.c-categories.c-categories-template-5 .widget-content {
    margin-left: -10px;
    margin-right: -10px;
}
.c-categories.c-categories-template-5 .widget-element {
    position: relative;
    height: 300px;
}
.c-categories.c-categories-template-5 .widget-element-wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-categories.c-categories-template-5 .widget-element-wrapper:hover {
    -webkit-box-shadow: 2px 6px 20px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 6px 20px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 6px 20px 4px rgba(0, 0, 0, 0.3);
}
.c-categories.c-categories-template-5 .widget-element-name-wrap {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    font-size: 0;
    text-align: center;
}
.c-categories.c-categories-template-5 .widget-element-name {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 14px;
    color: white;
    background-color: #1f1f1f;
    padding: 8px 15px;
    opacity: 0.9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
