@keyframes c-slider-template-1 {
    from {
        left: 35px;
    }
    50% {
        left: 45px;
    }
    to {
        left: 35px;
    }
}
.c-slider.c-slider-template-1 .widget-content {
    position: relative;
}
.c-slider.c-slider-template-1 .widget-element {
    display: block;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 0;
}
.c-slider.c-slider-template-1 .widget-element-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.c-slider.c-slider-template-1 .widget-element-wrapper {
    z-index: 1;
}
.c-slider.c-slider-template-1 .widget-element-wrapper,
.c-slider.c-slider-template-1 .widget-element-wrapper-2,
.c-slider.c-slider-template-1 .widget-element-wrapper-3 {
    position: relative;
    height: inherit;
}
.c-slider.c-slider-template-1 .widget-element-content {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
}
.c-slider.c-slider-template-1 .widget-element-text {
    display: table-cell;
    vertical-align: middle;
}
.c-slider.c-slider-template-1 .widget-element-text-left .widget-element-text {
    text-align: left;
}
.c-slider.c-slider-template-1 .widget-element-text-center .widget-element-text {
    text-align: center;
}
.c-slider.c-slider-template-1 .widget-element-text-right .widget-element-text {
    text-align: right;
}
.c-slider.c-slider-template-1 .widget-element-text-wrapper {
    display: inline-block;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.c-slider.c-slider-template-1 .widget-element-text-center .widget-element-text-wrapper {
    width: 100%;
}
.c-slider.c-slider-template-1 .widget-element-text-left .widget-element-text-wrapper {
    padding-right: 30px;
}
.c-slider.c-slider-template-1 .widget-element-text-right .widget-element-text-wrapper {
    padding-left: 30px;
}
.c-slider.c-slider-template-1 .widget-element-text-header {
    font-size: 60px;
    font-weight: 900;
    line-height: 1;
}
.c-slider.c-slider-template-1 .widget-element-text-description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 35px;
}
.c-slider.c-slider-template-1 .widget-element-text-description-mobile {
    display: none;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-top: 20px;
}
.c-slider.c-slider-template-1 .widget-element-text-button-wrap {
    margin-top: 40px;
}
.c-slider.c-slider-template-1 .widget-element-text-left .widget-element-text-button-wrap,
.c-slider.c-slider-template-1 .widget-element-text-right .widget-element-text-button-wrap {
    display: none;
}
.c-slider.c-slider-template-1 .widget-element-text-button {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    color: #FFF;
    padding: 20px 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-slider.c-slider-template-1 .widget-element-button-container {
    position: absolute;
    display: table;
    top: 0;
    width: 50%;
    height: 100%;
}
.c-slider.c-slider-template-1 .widget-element-text-left .widget-element-button-container {
    right: 0;
}
.c-slider.c-slider-template-1 .widget-element-text-right .widget-element-button-container {
    left: 0;
}
.c-slider.c-slider-template-1 .widget-element-button-container-wrapper {
    display: table-cell;
    padding-bottom: 80px;
    padding-top: 80px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.c-slider.c-slider-template-1 .widget-element-button {
    position: relative;
    display: block;
    text-decoration: none;
    margin: auto;
    width: 100%;
    max-width: 520px;
    padding: 50px 0;
}
.c-slider.c-slider-template-1 .widget-element-button-text-wrap {
    position: relative;
    width: 60%;
    padding-left: 70px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
}
.c-slider.c-slider-template-1 .widget-element-button-text-wrap-full {
    width: 100%;
    padding-right: 50px;
}
.c-slider.c-slider-template-1 .widget-element-button-text-arrow {
    position: absolute;
    top: 0;
    left: 35px;
    line-height: 24px;
    color: #FFF;
    -webkit-transition: left 0.4s;
    -moz-transition: left 0.4s;
    -ms-transition: left 0.4s;
    -o-transition: left 0.4s;
    transition: left 0.4s;
}
.c-slider.c-slider-template-1 .widget-element-button:hover .widget-element-button-text-arrow {
    animation-name: c-slider-template-1;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}
.c-slider.c-slider-template-1 .widget-element-button-text {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #FFF;
}
.c-slider.c-slider-template-1 .widget-element-button-description {
    font-size: 15px;
    margin-top: 5px;
    color: #FFF;
}
.c-slider.c-slider-template-1 .widget-element-button-image {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    z-index: 1;
}

.c-slider.c-slider-template-1 .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    text-align: center;
    pointer-events: none;
}
.c-slider.c-slider-template-1 .owl-dot {
    display: inline-block;
    vertical-align: bottom;
    padding: 0 5px;
    margin: 0 5px;
    pointer-events: initial;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-slider.c-slider-template-1 .owl-dot span {
    display: inline-block;
    width: 3px;
    height: 10px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-slider.c-slider-template-1 .owl-dot.active span {
    height: 15px;
}

/* WHITE THEME */
.c-slider.c-slider-template-1 .widget-element[data-color = 'black'] .widget-element-text-header,
.c-slider.c-slider-template-1 .widget-element[data-color = 'black'] .widget-element-text-description,
.c-slider.c-slider-template-1 .widget-element[data-color = 'black'] .widget-element-text-description-mobile {
    color: #FFF;
}
.c-slider.c-slider-template-1[data-color = 'white'] .owl-dot span {
    background-color: #FFF;
}

/* BLACK THEME */
.c-slider.c-slider-template-1 .widget-element[data-color = 'white'] .widget-element-text-header,
.c-slider.c-slider-template-1 .widget-element[data-color = 'white'] .widget-element-text-description,
.c-slider.c-slider-template-1 .widget-element[data-color = 'white'] .widget-element-text-description-mobile {
    color: #000;
}
.c-slider.c-slider-template-1[data-color = 'black'] .owl-dot span {
    background-color: #000;
}

@media all and (max-width: 1180px) {
    .c-slider.c-slider-template-1 .widget-element-video-wrap {
        display: none;
    }
}
@media all and (max-width: 1000px) {
    .c-slider.c-slider-template-1 .widget-element-text-left .widget-element-text,
    .c-slider.c-slider-template-1 .widget-element-text-right .widget-element-text {
        text-align: center;
    }
    .c-slider.c-slider-template-1 .widget-element-text-left .widget-element-text-wrapper {
        padding-right: 0;
    }
    .c-slider.c-slider-template-1 .widget-element-text-right .widget-element-text-wrapper {
        padding-left: 0;
    }
    .c-slider.c-slider-template-1 .widget-element-text-wrapper {
        width: 90%;
    }
    .c-slider.c-slider-template-1 .widget-element-text-header {
        font-size: 45px;
    }
    .c-slider.c-slider-template-1 .widget-element-text-description {
        font-size: 14px;
        line-height: 21px;
        margin-top: 20px;
    }
    .c-slider.c-slider-template-1 .widget-element-text-left .widget-element-text-description-mobile,
    .c-slider.c-slider-template-1 .widget-element-text-right .widget-element-text-description-mobile,
    .c-slider.c-slider-template-1 .widget-element-text-left .widget-element-text-button-wrap,
    .c-slider.c-slider-template-1 .widget-element-text-right .widget-element-text-button-wrap {
        display: block;
    }
    .c-slider.c-slider-template-1 .widget-element-button-container {
        display: none;
    }
}
@media all and (max-width: 720px) {
    .c-slider.c-slider-template-1 .widget-element {
        height: 500px!important;
    }
    .c-slider.c-slider-template-1 .widget-element-text-header {
        font-size: 35px;
    }
}
@media all and (max-width: 500px) {
    .c-slider.c-slider-template-1 .widget-element {
        height: 350px!important;
    }
    .c-slider.c-slider-template-1 .widget-element-text-wrapper {
        width: 100%;
    }
    .c-slider.c-slider-template-1 .widget-element-text-header {
        font-size: 20px;
    }
    .c-slider.c-slider-template-1 .widget-element-text-description,
    .c-slider.c-slider-template-1 .widget-element-text-description-mobile {
        font-size: 12px;
        margin-top: 10px;
        line-height: 18px;
    }
    .c-slider.c-slider-template-1 .widget-element-text-button-wrap {
        margin-top: 15px;
    }
    .c-slider.c-slider-template-1 .widget-element-text-button {
        font-size: 11px;
        line-height: 11px;
        padding: 10px 15px;
    }
}