.widget-reviews {
    display: block;
}
.widget-reviews .widget-reviews-title {
    font-size: 28px;
    font-weight: bold;
    line-height: 34px;
    color: #2c2c2d;
    margin-bottom: 5px;
}
.widget-reviews .widget-reviews-title.text-center {
    text-align:center;
}
.widget-reviews .widget-reviews-title + .widget-reviews-desktop,
.widget-reviews .widget-reviews-title + .widget-reviews-mobile {
    margin-top: 20px;
}
.widget-reviews .description {
    font-size: 12px;
    line-height: 17px;
    color: #626262;
    margin-bottom: 20px;
}
.widget-reviews .description.text-center {
    text-align:center;
}

.widget-reviews .widget-reviews-desktop {
    display: block;
}
.widget-reviews .widget-reviews-mobile {
    display: none;
}
.widget-reviews .widget-reviews-view {
    display: block;
}
.widget-reviews .widget-reviews-buttons {
    display: block;
    margin-top: 15px;
    text-align: right;
}

/** Default **/
.widget-reviews .widget-reviews-view.widget-reviews-view-default {
    display: block;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-default .widget-reviews-view-wrapper {
    display: block;
    overflow: hidden;
    margin: -20px 0;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-default .widget-reviews-item {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 0;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-default .widget-reviews-item .widget-reviews-item-wrapper {
    display: block;
    position: relative;
    margin-left: 75px;
    border: 1px solid #e8e8e8;
    min-height: 240px;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-default .widget-reviews-item .widget-reviews-item-header {
    display: block;
    position: absolute;
    top: 30px;
    left: -75px;
    width: 150px;
    padding: 10px;
    background: #fff;
    text-align: center;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-default .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-image {
    display: block;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-default .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-image .widget-reviews-item-image-wrapper {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-default .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-name {
    display: block;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.5;
    max-height: 42px;
    color: #0e6afc;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-default .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-signature {
    display: block;
    font-size: 10px;
    line-height: 1.5;
    max-height: 45px;
    color: #6a6a6a;
    overflow: hidden;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-default .widget-reviews-item .widget-reviews-item-information {
    display: block;
    margin: 50px 60px 40px 120px;
    font-size: 16px;
    line-height: 1.5;
    color: #2c2c2c;
    max-height: 192px;
    overflow: hidden;
}

@media all and (max-width: 720px) {
    .widget-reviews .widget-reviews-view.widget-reviews-view-default .widget-reviews-item .widget-reviews-item-wrapper {
        min-height: 180px;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-default .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-signature {
        max-height: 15px;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-default .widget-reviews-item .widget-reviews-item-information {
        margin: 30px 30px 30px 100px;
        max-height: 120px;
    }
}

@media all and (max-width: 480px) {
    .widget-reviews .widget-reviews-view.widget-reviews-view-default .widget-reviews-item .widget-reviews-item-wrapper {
        margin-top: 40px;
        margin-left: 0;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-default .widget-reviews-item .widget-reviews-item-header {
        top: -50px;
        left: 5%;
        width: 90%;
        padding: 10px;
        background: #fff;
        text-align: center;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-default .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-image {
        float: left;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-default .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-name {
        margin-left: 100px;
        padding-top: 6px;
        text-align: left;
        max-height: 48px;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-default .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-signature {
        margin-left: 100px;
        text-align: left;
        max-height: 30px;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-default .widget-reviews-item .widget-reviews-item-information {
        font-size: 14px;
        max-height: inherit;
        margin: 60px 30px 30px 30px;
    }
}
/** /Default **/

/** Slider **/
.widget-reviews .widget-reviews-view.widget-reviews-view-slider {
    display: block;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-view-wrapper {
    display: block;
    position: relative;
    margin: 0 40px;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-navigation {
    display: block;
    position: absolute;
    top: 0;
    right: -40px;
    left: -40px;
    height: 100%;
    font-size: 0;
    white-space: nowrap;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-navigation .widget-reviews-navigation-wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-navigation .widget-reviews-navigation-next,
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-navigation .widget-reviews-navigation-previous {
    display: block;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -ms-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-navigation .widget-reviews-navigation-next {
    float: right;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-navigation .widget-reviews-navigation-previous {
    float: left;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-navigation .widget-reviews-navigation-next:hover,
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-navigation .widget-reviews-navigation-previous:hover {
    color: #116afc;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-item {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-item .widget-reviews-item-wrapper {
    display: block;
    position: relative;
    margin: 60px 0 20px 0;
    background: #fff;
    border-radius: 7px;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
    border: 1px solid transparent;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-item .widget-reviews-item-header {
    display: block;
    position: relative;
    margin: -40px auto 0 auto;
    max-width: 260px;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-image {
    display: block;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-image .widget-reviews-item-image-wrapper {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-name {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    height: 21px;
    margin-top: 20px;
    color: #303030;
    overflow: hidden;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-signature {
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    height: 36px;
    color: #6a6a6a;
    overflow: hidden;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-item .widget-reviews-item-information {
    display: block;
    margin: 20px 110px 40px 110px;
    font-size: 14px;
    line-height: 1.5;
    height: 84px;
    text-align: center;
    overflow: hidden;
    color: #9e9e9e;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-dots {
    display: none;
    font-size: 0;
    text-align: center;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-dots.disabled {
    opacity: 0;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-dots .owl-dot {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border: 1px solid #bcbcbc;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-dots .owl-dot.active {
    background: #3e6af8;
    border-color: #3e6af8;
}

@media all and (max-width: 720px) {
    .widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-view-wrapper {
        margin: 0;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-navigation {
        display: none !important;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-item .widget-reviews-item-information {
        margin: 20px 30px 40px 30px;
        height: auto;
        max-height: 234px;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-slider .widget-reviews-dots {
        display: block;
    }
}
/** /Slider **/

/** Blocks **/
.widget-reviews .widget-reviews-view.widget-reviews-view-blocks {
    display: block;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-view-wrapper {
    display: block;
    position: relative;
    margin: -7px;
    min-width: 14px;
    min-height: 14px;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item {
    display: block;
    float: left;
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item.two {
    width:50%;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item.three {
    width:33.33%;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item.five {
    width:20%;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-wrapper {
    display: block;
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 7px;
    border: 1px solid #f1f1f1;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-property: box-shadow;
    -moz-transition-property: box-shadow;
    -ms-transition-property: box-shadow;
    -o-transition-property: box-shadow;
    transition-property: box-shadow;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-wrapper:hover {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
}
.widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-information {
    display: block;
    font-size: 14px;
    line-height: 1.5;
    height: 84px;
    text-align: left;
    overflow: hidden;
    color: #1e1c1c;
    margin-bottom: 40px;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-delimiter {
    display: block;
    height: 1px;
    overflow: hidden;
    background: #ececec;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-header {
    display: block;
    position: relative;
    margin-top: 20px;
    overflow: hidden;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-header-wrapper {
    display: table;
    width: 100%;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-header-wrapper-2 {
    display: table-row;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-image,
.widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-about{
    display: table-cell;
    vertical-align: middle;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-image .widget-reviews-item-image-wrapper {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-about {
    width: 100%;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-about .widget-reviews-item-name {
    display: block;
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
    max-height: 42px;
    color: #000002;
    overflow: hidden;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-signature {
    display: block;
    text-align: left;
    font-size: 12px;
    line-height: 1.5;
    max-height: 36px;
    color: #cecece;
    margin-top: 5px;
    overflow: hidden;
}

@media all and (max-width: 1000px) {
    body .widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item {
        width: 33.333333%!important;;
    }
}

@media all and (max-width: 780px) {
    body .widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item {
        width: 100%!important;;
    }
}

@media all and (max-width: 720px) {
    .widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item {
        width: auto;
        float: none;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-information {
        font-size: 26px;
        height: 156px;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-image .widget-reviews-item-image-wrapper {
        width: 180px;
        height: 180px;
        margin-right: 30px;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-about .widget-reviews-item-name {
        font-size: 28px;
        max-height: 84px;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-signature {
        font-size: 22px;
        max-height: 66px;
    }
}

@media all and (max-width: 520px) {
    .widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-information {
        font-size: 18px;
        height: 108px;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-image .widget-reviews-item-image-wrapper {
        width: 120px;
        height: 120px;
        margin-right: 20px;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-about .widget-reviews-item-name {
        font-size: 22px;
        max-height: 66px;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-signature {
        font-size: 14px;
        max-height: 42px;
    }
}

@media all and (max-width: 400px) {
    .widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-information {
        font-size: 14px;
        height: 84px;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-image .widget-reviews-item-image-wrapper {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-about .widget-reviews-item-name {
        font-size: 12px;
        max-height: 36px;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-blocks .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-signature {
        font-size: 12px;
        max-height: 36px;
    }
}
/** /Blocks **/

/** Blocks 2 Desktop **/
.widget-reviews .widget-reviews-desktop .widget-reviews-view.widget-reviews-view-blocks-2 {
    display: block;
}
.widget-reviews .widget-reviews-desktop .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-view-wrapper {
    display: block;
    position: relative;
    margin: -10px -35px;
    min-width: 20px;
    min-height: 20px;
}
.widget-reviews .widget-reviews-desktop .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item {
    display: block;
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 35px;
}
.widget-reviews .widget-reviews-desktop .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item.three{
    width:33.33%;
}
.widget-reviews .widget-reviews-desktop .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item.four {
    width: 25%;
}
.widget-reviews .widget-reviews-desktop .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item.five {
    width: 20%;
}
.widget-reviews .widget-reviews-desktop .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-wrapper {
    display: block;
    position: relative;
    padding: 20px;
    margin-left: 60px;
    background: #fff;
    border-radius: 7px;
    border: 1px solid #f1f1f1;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-property: box-shadow;
    -moz-transition-property: box-shadow;
    -ms-transition-property: box-shadow;
    -o-transition-property: box-shadow;
    transition-property: box-shadow;
}
.widget-reviews .widget-reviews-desktop .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-wrapper:hover {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
}
.widget-reviews .widget-reviews-desktop .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-image {
    display: block;
    position: absolute;
    top: 30px;
    left: -60px;
}
.widget-reviews .widget-reviews-desktop .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-image .widget-reviews-item-image-wrapper {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.widget-reviews .widget-reviews-desktop .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-information {
    display: block;
    margin-left: 75px;
}
.widget-reviews .widget-reviews-desktop .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-name {
    display: block;
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
    height: 21px;
    color: #515151;
    overflow: hidden;
}
.widget-reviews .widget-reviews-desktop .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-signature {
    display: block;
    text-align: left;
    font-size: 12px;
    line-height: 1.5;
    height: 18px;
    color: #bcbcbc;
    margin-bottom: 8px;
    overflow: hidden;
}
.widget-reviews .widget-reviews-desktop .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-text {
    display: block;
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
    height: 105px;
    color: #606060;
    margin-top: 10px;
    overflow: hidden;
}
.widget-reviews .widget-reviews-desktop .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-information .widget-reviews-item-delimiter {
    display: block;
    width: 30px;
    height: 1px;
    overflow: hidden;
    background: #5b80f9;
}

@media all and (max-width: 950px) {
    .widget-reviews .widget-reviews-desktop .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item {
        width: auto;
        float: none;
    }
}
/** /Blocks 2 Desktop **/

/** Blocks 2 Mobile **/
.widget-reviews .widget-reviews-mobile .widget-reviews-view.widget-reviews-view-blocks-2 {
    display: block;
}
.widget-reviews .widget-reviews-mobile .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-view-wrapper {
    display: block;
    position: relative;
    margin: -10px -35px;
    min-width: 20px;
    min-height: 20px;
}
.widget-reviews .widget-reviews-mobile .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 35px;
}
.widget-reviews .widget-reviews-mobile .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-wrapper {
    display: block;
    position: relative;
    margin-top: 75px;
    border: 1px solid #e8e8e8;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition-property: box-shadow;
    -moz-transition-property: box-shadow;
    -ms-transition-property: box-shadow;
    -o-transition-property: box-shadow;
    transition-property: box-shadow;
}
.widget-reviews .widget-reviews-mobile .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-wrapper:hover {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
}
.widget-reviews .widget-reviews-mobile .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-header {
    display: block;
    margin-top: -75px;
}
.widget-reviews .widget-reviews-mobile .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-header-wrapper {
    display: block;
    margin: 0 auto;
    max-width: 240px;
}
.widget-reviews .widget-reviews-mobile .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-image {
    display: block;
}
.widget-reviews .widget-reviews-mobile .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-image .widget-reviews-item-image-wrapper {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.widget-reviews .widget-reviews-mobile .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-name {
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    height: 36px;
    color: #0e6afc;
    overflow: hidden;
    margin-top: 15px;
}
.widget-reviews .widget-reviews-mobile .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-signature {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    height: 54px;
    color: #6a6a6a;
    margin-bottom: 8px;
    overflow: hidden;
}
.widget-reviews .widget-reviews-mobile .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-information {
    display: block;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    max-height: 378px;
    color: #2c2c2c;
    margin: 20px 60px 80px 60px;
    overflow: hidden;
}

@media all and (max-width: 500px) {
    .widget-reviews .widget-reviews-mobile .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-name {
        font-size: 16px;
        height: 24px;
    }
    .widget-reviews .widget-reviews-mobile .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-header .widget-reviews-item-signature {
        font-size: 14px;
        height: 42px;
    }
    .widget-reviews .widget-reviews-mobile .widget-reviews-view.widget-reviews-view-blocks-2 .widget-reviews-item .widget-reviews-item-information {
        font-size: 14px;
        max-height: 294px;
        margin: 20px 30px 30px 30px;
    }
}
/** /Blocks 2 Mobile **/

@media all and (max-width: 720px) {
    .widget-reviews .widget-reviews-desktop {
        display: none;
    }
    .widget-reviews .widget-reviews-mobile {
        display: block;
        margin: 0 -25px;
    }
    .widget-reviews .widget-reviews-mobile .widget-reviews-view.widget-reviews-view-slider .widget-reviews-item .widget-reviews-item-wrapper {
        box-shadow: none;
    }
    .widget-reviews .widget-reviews-mobile .widget-reviews-view.widget-reviews-view-slider .widget-reviews-item {
        padding: 0;
    }
}

/** Blocks Video **/
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-wrapper {
     margin-bottom: 40px;
     padding-top: 40px;
     border-top: 1px solid #e8e8e8;
 }
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-image {
    width: 100px;
    height: 100px;
    float: left;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-image-wrapper {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-content {
    margin-left: 130px;
    position: relative;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-signature {
    font-size: 12px;
    color: #949494;
    margin-bottom: 15px;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-service,
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-project {
    font-size: 14px;
    margin-bottom: 5px ;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-service span,
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-project span {
    font-weight: bold;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-service a,
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-project a {
    display: inline-block;
    border-bottom: 1px dashed;
    text-decoration: none;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-service a:hover,
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-project a:hover {
    border-bottom-color: transparent;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-name {
    font-size: 15px;
    line-height: 24px;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-information {
    margin-top: 15px;
    position: relative;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-information-wrapper {
    color: #565656;
    font-size: 14px;
    line-height: 22px;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-information-wrapper.video,
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-information-wrapper.document {
    margin-right: 280px;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-information-wrapper.document {
    min-height: 255px;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-information-wrapper.video {
    min-height: 170px;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-right-block {
    position: absolute;
    top: 0px;
    right: 0px;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-video-wrap {
    width: 260px;
    height: 170px;
    line-height: 170px;
    text-align: center;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-video {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 9px 24px rgba(111, 129, 162, 0.35);
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-video-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    fill: #FFF;
    vertical-align: middle;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video  .widget-reviews-item-video:hover .widget-reviews-item-video-icon {
    animation-name: animate-arrow;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}

@keyframes animate-arrow {
    from {
        transform: initial;
    }
    50% {
        transform: scale(1.2);
    }
    to {
        transform: initial;
    }
}

.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-document-wrap {
    width: 260px;
    height: 255px;
    text-align: center;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-document {
    display: block;
    height: 100%;
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-document-image {
    max-width: 100%;
    max-height: 215px;
    margin-bottom: 8px;
    border-radius: 5px;
    box-shadow: 0px 9px 24px rgba(111, 129, 162, 0.34901960784313724);
}
.widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-document-name {
    display: block;
    max-height: 32px;
    overflow: hidden;
    line-height: 16px;
    font-size: 12px;
    color: #949494;
}

/** Blocks Video Mobile **/
@media all and (max-width: 500px) {
    .widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-image {
        float: none;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-content {
        margin-left: 0px;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-video {
        padding: 0 25px;
    }
}
@media all and (max-width: 720px) {
    .widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-information-wrapper {
        margin-bottom: 20px;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-information-wrapper.video,
    .widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-information-wrapper.document {
        margin-right: 0;
        min-height: initial;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-right-block {
        position: relative;
    }
    .widget-reviews .widget-reviews-view-video {
        padding: 0 25px;
    }
    .widget-reviews .widget-reviews-view.widget-reviews-view-video .widget-reviews-item-document-wrap {text-align:left;}
}
