.c-services.c-services-template-5 .widget-header + .widget-content {
    margin-top: 30px;
}
.c-services.c-services-template-5 .widget-element-wrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.c-services.c-services-template-5 .widget-element {
    position: relative;
    overflow: hidden;
}
.c-services.c-services-template-5 .intec-grid-item-4 .widget-element {
    padding-bottom: 170%;
}
.c-services.c-services-template-5 .intec-grid-item-3 .widget-element {
    padding-bottom: 60%;
}
.c-services.c-services-template-5 .intec-grid-item-2 .widget-element {
    padding-bottom: 50%;
}
.c-services.c-services-template-5 .widget-element-picture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-services.c-services-template-5 .widget-element:hover .widget-element-picture {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.c-services.c-services-template-5 .widget-element-fade {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-services.c-services-template-5 .widget-element:hover .widget-element-fade {
    opacity: 1;
}
.c-services.c-services-template-5 .widget-element-name {
    position: absolute;
    bottom: 30px;
    left: 29px;
    right: 29px;
    text-align: left;
    max-width: 160px;
    pointer-events: none;
}
.c-services.c-services-template-5 .widget-element-name-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #FFF;
    -webkit-box-shadow: -5px 0 0 5px #0065ff, 5px 0 0 5px #0065ff;
    -moz-box-shadow: -5px 0 0 5px #0065ff, 5px 0 0 5px #0065ff;
    box-shadow: -5px 0 0 5px #0065ff, 5px 0 0 5px #0065ff;
}
.c-services.c-services-template-5 .widget-footer {
    margin-top: 35px;
    padding: 0;
}
.c-services.c-services-template-5 .widget-footer .widget-footer-all {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    padding: 18px 28px;
    border: 2px solid;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-services.c-services-template-5 .widget-footer .widget-footer-all:hover {
    color: #FFF;
}

@media all and (max-width: 1000px) {
    .c-services.c-services-template-5 .widget-element {
        padding-bottom: 100%!important;
    }
}
@media all and (max-width: 600px) {
    .c-services.c-services-template-5 .widget-element {
        padding-bottom: 50%!important;
    }
}
@media all and (max-width: 450px) {
    .c-services.c-services-template-5 .widget-element {
        padding-bottom: 70%!important;
    }
}