.c-categories.c-categories-template-3 .widget-header + .widget-content {
    margin-top: 25px;
}
.c-categories.c-categories-template-3 .widget-element-wrapper {
    position: relative;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -ms-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}
.c-categories.c-categories-template-3 .intec-grid-item-4 .widget-element-wrapper {
    padding-top: 150%;
}
.c-categories.c-categories-template-3 .intec-grid-item-3 .widget-element-wrapper {
    padding-top: 100%;
}
.c-categories.c-categories-template-3 .intec-grid-item-2 .widget-element-wrapper {
    padding-top: 50%;
}
.c-categories.c-categories-template-3 .widget-element-wrapper:hover {
    -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.3);
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.3);
}
.c-categories.c-categories-template-3 .widget-element-fade {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    background: #000;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}
.c-categories.c-categories-template-3 .widget-element:hover .widget-element-fade {
    opacity: 0;
}
.c-categories.c-categories-template-3 .widget-element-name {
    position: absolute;
    display: inline-block;
    left: 10px;
    bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    background-color: inherit;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@media all and (max-width: 1000px) {
    .c-categories.c-categories-template-3 .intec-grid-item-4 .widget-element-wrapper {
        padding-top: 100%;
    }
    .c-categories.c-categories-template-3 .intec-grid-item-2 .widget-element-wrapper {
        padding-top: 75%;
    }
}
@media all and (max-width: 800px) {
    .c-categories.c-categories-template-3 .intec-grid-item-2 .widget-element-wrapper {
        padding-top: 100%;
    }
}
@media all and (max-width: 600px) {
    .c-categories.c-categories-template-3 .intec-grid-item-4 .widget-element-wrapper,
    .c-categories.c-categories-template-3 .intec-grid-item-3 .widget-element-wrapper,
    .c-categories.c-categories-template-3 .intec-grid-item-2 .widget-element-wrapper {
        padding-top: 50%;
    }
}
@media all and (max-width: 500px) {
    .c-categories.c-categories-template-3 .intec-grid-item-4 .widget-element-wrapper,
    .c-categories.c-categories-template-3 .intec-grid-item-3 .widget-element-wrapper,
    .c-categories.c-categories-template-3 .intec-grid-item-2 .widget-element-wrapper {
        padding-top: 75%;
    }
}
@media all and (max-width: 350px) {
    .c-categories.c-categories-template-3 .intec-grid-item-4 .widget-element-wrapper,
    .c-categories.c-categories-template-3 .intec-grid-item-3 .widget-element-wrapper,
    .c-categories.c-categories-template-3 .intec-grid-item-2 .widget-element-wrapper {
        padding-top: 100%;
    }
}