@keyframes video-template-1-animate-arrow {
    from {
        transform: initial;
    }
    50% {
        transform: scale(1.2);
    }
    to {
        transform: initial;
    }
}
.c-video.c-video-template-1 .widget-header + .widget-content,
.c-video.c-video-template-1 .widget-header + .widget-content-wrap {
    margin-top: 25px;
}
.c-video.c-video-template-1 .widget-element {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0;
    text-align: center;
    cursor: pointer;
}
.c-video.c-video-template-1 .widget-element-icon {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    pointer-events: none;
}
.c-video.c-video-template-1 .widget-element:hover .widget-element-icon {
    animation-name: video-template-1-animate-arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}