.c-categories.c-categories-template-1 .widget-header + .widget-content {
    margin-top: 25px;
}
.c-categories.c-categories-template-1 .widget-elements {
    display: block;
}
.c-categories.c-categories-template-1 .widget-elements-wrapper {
    display: block;
    margin: 0 -5px;
    font-size: 0;
}
.c-categories.c-categories-template-1 .widget-element {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 5px 5px;
    width: 25%;
}
.c-categories.c-categories-template-1 .widget-element-wrapper {
    position: relative;
    display: block;
    padding-top: 81%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}
.c-categories.c-categories-template-1 .widget-element-content-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.c-categories.c-categories-template-1 .widget-element-image-wrap {
    position: absolute;
    top: 60px;
    right: 60px;
    bottom: 60px;
    left: 60px;
}
.c-categories.c-categories-template-1 .widget-element-name-wrap {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
}
.c-categories.c-categories-template-1 .widget-element-name {
    font-size: 12px;
    color: #36312e;
    line-height: 1.5;
    overflow: hidden;
    max-height: 36px;
}

@media all and (max-width: 700px) {
    .c-categories.c-categories-template-1 .widget-elements .widget-element {
        width: 50%;
    }
}

@media all and (max-width: 450px) {
    .c-categories.c-categories-template-1 .widget-elements .widget-element {
        width: 100%;
    }
}

