@keyframes c-brands-template-1-animate-arrow-all {
    from {
        padding-left: 0;
        padding-right: 10px;
    }
    50% {
        padding-left: 10px;
        padding-right: 0;
    }
    to {
        padding-left: 0;
        padding-right: 10px;
    }
}

.c-brands.c-brands-template-1 .owl-carousel .widget-element.grid-3,
.c-brands.c-brands-template-1 .owl-carousel .widget-element.grid-4,
.c-brands.c-brands-template-1 .owl-carousel .widget-element.grid-5 {
    display: block;
    width: initial;
    margin-right: 25px;
    margin-left: 25px;
}
.c-brands.c-brands-template-1 {
    position: relative;
}
.c-brands.c-brands-template-1.no-header {
    padding-top: 100px;
}
.c-brands.c-brands-template-1 .widget-header + .widget-content.widget-content-slider {
    margin-top: 55px;
}
.c-brands.c-brands-template-1 .widget-header .widget-title.align-left.right-button,
.c-brands.c-brands-template-1 .widget-header .widget-description.align-left.right-button,
.c-brands.c-brands-template-1 .widget-header .widget-title.align-center.right-button,
.c-brands.c-brands-template-1 .widget-header .widget-description.align-center.right-button,
.c-brands.c-brands-template-1 .widget-header .widget-title.align-right.right-button,
.c-brands.c-brands-template-1 .widget-header .widget-description.align-right.right-button {
    text-align: left;
    padding-right: 300px;
}
.c-brands.c-brands-template-1 .widget-header + .widget-content {
    margin-top: 35px;
}
.c-brands.c-brands-template-1 .widget-content {
    text-align: center;
}
.c-brands.c-brands-template-1 .widget-content.widget-content-grid {
    overflow: hidden;
}
.c-brands.c-brands-template-1 .widget-content.widget-content-grid .widget-elements-wrapper {
    margin: 0 -30px;
    min-width: 60px;
    min-height: 60px;
}
.c-brands.c-brands-template-1 .widget-content.widget-content-grid .widget-element {
    padding: 45px;
}
.c-brands.c-brands-template-1 .widget-element {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.c-brands.c-brands-template-1 .widget-element-image {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: grayscale(1);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-brands.c-brands-template-1 .grid-3 .widget-element-image {
    padding-top: 30%;
}
.c-brands.c-brands-template-1 .grid-4 .widget-element-image {
    padding-top: 35%;
}
.c-brands.c-brands-template-1 .grid-5 .widget-element-image {
    padding-top: 50%;
}
.c-brands.c-brands-template-1 .widget-element-wrapper:hover .widget-element-image {
    filter: none;
    opacity: 1 !important;
}
.c-brands.c-brands-template-1 .widget-footer {
    padding-top: 25px;
}
.c-brands.c-brands-template-1 .widget-footer.align-top-right {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 5px;
}
.c-brands.c-brands-template-1 .widget-footer-all {
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
    text-decoration: none;
    padding: 18px 30px 18px 40px;
    border: 1.5px solid #e8e8e8;
    white-space: nowrap;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-brands.c-brands-template-1 .widget-footer-all:hover {
    border-color: #B6B6B6;
}
.c-brands.c-brands-template-1 .widget-footer-all-text {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    color: #000;
}
.c-brands.c-brands-template-1 .widget-footer-all-arrow {
    display: inline-block;
    vertical-align: middle;
    height: 13px;
    fill: #000;
    padding-right: 10px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-brands.c-brands-template-1 .widget-footer-all:hover .widget-footer-all-arrow {
    padding-right: 0;
    padding-left: 10px;
    animation: c-brands-template-1-animate-arrow-all;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.c-brands.c-brands-template-1 .widget-elements-wrapper.owl-carousel {
    position: relative;
}
.c-brands.c-brands-template-1 .widget-elements-wrapper.widget-elements-with-arrows.owl-carousel {
    padding-left: 50px;
    padding-right: 50px;
}
.c-brands.c-brands-template-1 .widget-elements-with-arrows .owl-nav {
    position: absolute;
    display: block;
    pointer-events: none;
    top: 50%;
    left: 0;
    right: 0;
}
.c-brands.c-brands-template-1 .widget-elements-with-arrows .owl-nav .owl-prev,
.c-brands.c-brands-template-1 .widget-elements-with-arrows .owl-nav .owl-next {
    position: absolute;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-top: -17.5px;
    pointer-events: initial;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -ms-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}
.c-brands.c-brands-template-1 .widget-elements-with-arrows .owl-nav .owl-prev:hover,
.c-brands.c-brands-template-1 .widget-elements-with-arrows .owl-nav .owl-next:hover {
    background-color: #E3E3E3;
}
.c-brands.c-brands-template-1 .widget-elements-with-arrows .owl-nav .owl-prev {
    left: 0;
}
.c-brands.c-brands-template-1 .widget-elements-with-arrows .owl-nav .owl-next {
    right: 0;
}
.c-brands.c-brands-template-1 .widget-elements-with-arrows .owl-nav .owl-prev span,
.c-brands.c-brands-template-1 .widget-elements-with-arrows .owl-nav .owl-next span {
    font-size: 25px;
    line-height: 35px;
}
.c-brands.c-brands-template-1 .widget-elements-with-arrows .owl-nav .owl-prev span {
    padding-right: 2px;
}
.c-brands.c-brands-template-1 .widget-elements-with-arrows .owl-nav .owl-next span {
    padding-left: 2px;
}
.c-brands.c-brands-template-1 .widget-elements-wrapper.widget-elements-with-dots.owl-carousel {
    margin-bottom: 50px;
}
.c-brands.c-brands-template-1 .widget-elements-with-dots .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50px;
    display: block;
    font-size: 0;
    text-align: center;
    margin-top: 25px;
}
.c-brands.c-brands-template-1 .widget-elements-with-dots .owl-dots .owl-dot {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.c-brands.c-brands-template-1 .widget-elements-with-dots .owl-dots .owl-dot span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -ms-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.c-brands.c-brands-template-1 .widget-elements-with-dots .owl-dots .owl-dot.active span {
    background-color: #000;
}

@media all and (max-width: 800px) {
    .c-brands.c-brands-template-1.no-header {
        padding-top: 0;
    }
    .c-brands.c-brands-template-1 .widget-header .widget-title.align-left.right-button,
    .c-brands.c-brands-template-1 .widget-header .widget-description.align-left.right-button {
        padding-right: 0;
        text-align: left;
    }
    .c-brands.c-brands-template-1 .widget-header .widget-title.align-center.right-button,
    .c-brands.c-brands-template-1 .widget-header .widget-description.align-center.right-button {
        padding-right: 0;
        text-align: center;
    }
    .c-brands.c-brands-template-1 .widget-header .widget-title.align-right.right-button,
    .c-brands.c-brands-template-1 .widget-header .widget-description.align-right.right-button {
        padding-right: 0;
        text-align: right;
    }
    .c-brands.c-brands-template-1 .widget-footer.align-top-right {
        position: relative;
        margin-top: 25px;
        text-align: right;
    }
}
@media all and (max-width: 500px) {
    .c-brands.c-brands-template-1 .widget-elements-wrapper.with-arrows.owl-carousel {
        padding-left: 35px;
        padding-right: 35px;
    }
    .c-brands.c-brands-template-1 .widget-content.widget-content-grid .widget-element {
        padding: 30px;
    }
    .c-brands.c-brands-template-1 .widget-footer.align-top-right {
        text-align: center;
    }
}