.c-gallery.c-gallery-template-1 .widget-tabs {
    padding-top: 25px;
}
.c-gallery.c-gallery-template-1 .widget-tabs .nav.nav-tabs {
    font-size: 0;
    padding: 0 0 20px 0;
    margin: 0;
    list-style: none;
    border-bottom: none;
}
.c-gallery.c-gallery-template-1 .widget-tabs .nav.nav-tabs.align-left {
    text-align: left;
}
.c-gallery.c-gallery-template-1 .widget-tabs .nav.nav-tabs.align-center {
    text-align: center;
}
.c-gallery.c-gallery-template-1 .widget-tabs .nav.nav-tabs.align-right {
    text-align: right;
}
.c-gallery.c-gallery-template-1 .widget-tabs .widget-tabs-tab {
    display: inline-block;
    padding: 10px 15px;
    float: none;
    margin-bottom: 0;
}
.c-gallery.c-gallery-template-1 .widget-tabs .widget-tabs-tab a {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    color: #363532;
    text-decoration: none;
    padding: 0 0 15px 0;
    margin: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.c-gallery.c-gallery-template-1 .widget-tabs .widget-tabs-tab a:focus {
    background-color: transparent!important;
}
.c-gallery.c-gallery-template-1 .widget-tabs .widget-tabs-tab a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: 2px solid;
    border-color: inherit;
    opacity: 0;
    -webkit-transition: border-color, width 0.4s, 0.4s;
    -moz-transition: border-color, width 0.4s, 0.4s;
    -ms-transition: border-color, width 0.4s, 0.4s;
    -o-transition: border-color, width 0.4s, 0.4s;
    transition: border-color, width 0.4s, 0.4s;
}
.c-gallery.c-gallery-template-1 .widget-tabs .widget-tabs-tab a:hover::after {
    width: 100%;
    opacity: 1;
}
.c-gallery.c-gallery-template-1 .widget-tabs .widget-tabs-tab:hover a {
    background-color: transparent;
}
.c-gallery.c-gallery-template-1 .widget-tabs .widget-tabs-tab.active a {
    position: relative;
    border: none;
    background-color: transparent;
}
.c-gallery.c-gallery-template-1 .widget-tabs .widget-tabs-tab.active a::after {
    width: 100%;
    opacity: 1;
}
.c-gallery.c-gallery-template-1 .widget-tab-list-content {
    margin-left: -2px;
    margin-right: -2px;
}
.c-gallery.c-gallery-template-1 .widget-tab-element {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.c-gallery.c-gallery-template-1 .img-delimiter .widget-tab-element {
    padding: 2px;
}
.c-gallery.c-gallery-template-1 .widget-tab-element .widget-tab-element-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -29px;
    margin-top: -29px;
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
    width: 54px;
    height: 54px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    pointer-events: none;
    opacity: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-gallery.c-gallery-template-1 .widget-tab-element:hover .widget-tab-element-icon {
    opacity: 1;
}
.c-gallery.c-gallery-template-1 .widget-tab-element-img {
    width: 100%;
    cursor: pointer;
    padding-top: 100%;
    height: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
.c-gallery.c-gallery-template-1 .widget-tab-element-img img {
    display: none;
}
.c-gallery.c-gallery-template-1 .widget-footer {
    margin-top: 25px;
}
.c-gallery.c-gallery-template-1 .widget-footer-all {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    padding: 15px;
    border: 2px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.c-gallery.c-gallery-template-1 .widget-footer-all:hover {
    color: #FFF;
}