$component: 'header';
$template: 'template-1';
$class: #{$component};
$themes: (
        'white': #fff,
        'black': #000
);

.c-#{$component}.c-#{$component}-#{$template} {
  .widget-view.widget-view-desktop {
    .widget-view-desktop-3 {
      display: block;
    }

    .widget-container {
      display: block;

      &-wrapper {
        position: relative;
      }
    }

    .widget-item {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .widget-logotype {
      display: block;
      width: 130px;
      text-decoration: none;
      color: #1d1d1d;

      svg {
        max-height: 50px;
      }

      @media all and (max-width: 900px) {
        width: 80px;
      }
    }

    .widget-search-wrap {
      @extend %hide-1000;
    }

    .widget-contacts {
      font-size: 0;
      text-align: left;

      &-wrap {
        @extend %hide-1200;
      }
    }

    .widget-address {
      + .widget-email {
        margin-top: 10px;
      }

      &-icon {
        @extend %contacts-icon;
      }

      &-text {
        @extend %contacts-text;
      }
    }

    .widget-email {
      &-icon {
        @extend %contacts-icon;
      }

      &-text {
        @extend %contacts-text;
      }
    }

    .widget-phone {
      &-content {
        position: relative;

        a {
          text-decoration: none;
        }

        &-text {
          font-size: 0;
          text-align: left;

          &-icon {
            @extend %contacts-icon;
          }

          &-value {
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            font-weight: bold;
            color: #2d2d2d;
            -webkit-transition: color 0.35s;
            -moz-transition: color 0.35s;
            -ms-transition: color 0.35s;
            -o-transition: color 0.35s;
            transition: color 0.35s;
          }
        }

        &-popup {
          position: absolute;
          display: none;
          opacity: 0;
          top: 100%;
          left: -20px;
          right: -20px;
          padding-top: 10px;
          white-space: normal;
          z-index: 1;

          &-wrapper {
            padding: 10px;
            background: #fff;
            width: 100%;
            min-width: 140px;
            -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          }

          &-item {
            display: block;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            line-height: 31px;
            color: #2d2d2d;
            text-decoration: none;
            padding: 10px;
            -webkit-transition: color 0.35s;
            -moz-transition: color 0.35s;
            -ms-transition: color 0.35s;
            -o-transition: color 0.35s;
            transition: color 0.35s;

            &:hover {
              color: #0065ff;
            }
          }
        }
      }

      + .widget-button-wrap {
        margin-top: 7px;
      }
    }

    %contacts-icon {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      line-height: 16px;
      margin-right: 8px;
    }

    %contacts-text {
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      line-height: 16px;
      color: #ACACAC;
    }

    .widget-button {
      &-wrap {
        font-size: 0;
        text-align: right;
      }

      display: inline-block;
      font-size: 12px;
      line-height: 18px;
      cursor: pointer;
      -webkit-transition: color 0.35s;
      -moz-transition: color 0.35s;
      -ms-transition: color 0.35s;
      -o-transition: color 0.35s;
      transition: color 0.35s;

      &:hover {
        color: #000!important;
      }
    }

    .widget-authorize {
      .widget-panel-button {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
        cursor: pointer;

        &-icon {
          font-size: 15px;
          line-height: 1px;
          margin-right: 10px;
        }

        &-text {
          font-size: 12px;
          line-height: 15px;
          color: #5b5b5b;
        }
      }
    }

    %hide-1200 {
      @media all and (max-width: 1200px) {
        display: none;
      }
    }
    %hide-1000 {
      @media all and (max-width: 1000px) {
        display: none;
      }
    }
  }

  &.widget-transparent {
    .widget-view.widget-view-desktop {
      .widget-menu {
        .ns-bitrix.c-menu.c-menu-horizontal-1 {
          .menu-item {
            .menu-item-text-wrapper {
              position: relative;

              &:after {
                content: '';
                display: block;
                position: absolute;
                top: 100%;
                left: 0;
                right: 100%;
                bottom: -1px;
                background: #fff;
                -webkit-transition: right 350ms;
                -moz-transition: right 350ms;
                -ms-transition: right 350ms;
                -o-transition: right 350ms;
                transition: right 350ms;
              }
            }

            &:hover {
              .menu-item-text-wrapper {
                &:after {
                  right: 0;
                }
              }
            }

            &.menu-item-more {
              .menu-item-text-wrapper {
                &:after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    @each $name, $color in $themes {
      %theme-#{$name}-element {
        -webkit-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
        -moz-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
        -ms-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
        -o-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
        transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
      }

      %theme-#{$name}-element-color {
        @extend %theme-#{$name}-element;
        color: $color !important;
      }

      %theme-#{$name}-element-fill {
        @extend %theme-#{$name}-element;
        fill: $color !important;
      }

      %theme-#{$name}-element-border {
        @extend %theme-#{$name}-element;
        border-color: $color !important;
      }

      %theme-#{$name}-element-background {
        background: $color !important;
      }

      %theme-#{$name}-element-background-inverted {
        @extend %theme-#{$name}-element;
        background: (invert($color)) !important;
      }

      %theme-#{$name}-element-opacity {
        @extend %theme-#{$name}-element;
        opacity: 0.5;
      }

      %theme-#{$name}-element-border-inverted {
        @extend %theme-#{$name}-element;
        border-color: invert($color);
      }

      &[data-color="#{$name}"] {
        .widget-view.widget-view-desktop {

          .widget-logotype {
            svg, path {
              @extend %theme-#{$name}-element-color;
              @extend %theme-#{$name}-element-fill;
            }
          }

          .widget-search {
            .search-title {
              @extend %theme-#{$name}-element;
              background: rgba($color, 0.2);
            }

            .search-title-input {
              @extend %theme-#{$name}-element-color;
              &::placeholder { @extend %theme-#{$name}-element-color; }
            }

            .search-title-button {
              @extend %theme-#{$name}-element-color;
            }
          }

          .widget-address {
            &-icon {
              @extend %theme-#{$name}-element-color;
            }

            &-text {
              @extend %theme-#{$name}-element-color;
            }
          }

          .widget-email {
            &-icon {
              @extend %theme-#{$name}-element-color;
            }

            &-text {
              @extend %theme-#{$name}-element-color;
            }
          }

          .widget-phone-content {
            &-text {
              &-icon {
                @extend %theme-#{$name}-element-color;
              }

              &-value {
                @extend %theme-#{$name}-element-color;

                &:hover {
                  @extend %theme-#{$name}-element-opacity
                }
              }
            }
          }

          .widget-button {
            @extend %theme-#{$name}-element-color;

            &:hover {
              @extend %theme-#{$name}-element-opacity
            }
          }

          .widget-basket {
            .basket-icons-item {
              &:hover {
                .basket-icons-item-icon {
                  @extend %theme-#{$name}-element-opacity;
                }
              }

              &-icon {
                @extend %theme-#{$name}-element-color;
              }

              &-counter {
                @extend %theme-#{$name}-element-background-inverted;
                @extend %theme-#{$name}-element-border-inverted;
                @extend %theme-#{$name}-element-color;
              }
            }
          }

          .widget-authorize {
            .widget-panel-button {
              &-icon {
                @extend %theme-#{$name}-element-color;
              }

              &-text {
                @extend %theme-#{$name}-element-color;
              }
              &-text:hover {
                @extend %theme-#{$name}-element-opacity;
              }
            }
          }

          .widget-menu {
            .ns-bitrix.c-menu.c-menu-horizontal-1 {
              .menu-item {
                .menu-item-text-wrapper {
                  @extend %theme-#{$name}-element-color;

                  &:after {
                    @extend %theme-#{$name}-element-background;
                  }

                  &:hover {
                    @extend %theme-#{$name}-element-opacity
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}