.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-view-desktop-3 {
  display: block;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container {
  display: block;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-wrapper {
  position: relative;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-item {
  padding-top: 20px;
  padding-bottom: 20px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-logotype {
  display: block;
  width: 130px;
  text-decoration: none;
  color: #1d1d1d;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-logotype svg {
  max-height: 50px;
}
@media all and (max-width: 900px) {
  .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-logotype {
    width: 80px;
  }
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts {
  font-size: 0;
  text-align: left;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-address + .widget-email {
  margin-top: 10px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-phone-content {
  position: relative;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-phone-content a {
  text-decoration: none;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-phone-content-text {
  font-size: 0;
  text-align: left;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-phone-content-text-value {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  color: #2d2d2d;
  -webkit-transition: color 0.35s;
  -moz-transition: color 0.35s;
  -ms-transition: color 0.35s;
  -o-transition: color 0.35s;
  transition: color 0.35s;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-phone-content-popup {
  position: absolute;
  display: none;
  opacity: 0;
  top: 100%;
  left: -20px;
  right: -20px;
  padding-top: 10px;
  white-space: normal;
  z-index: 1;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-phone-content-popup-wrapper {
  padding: 10px;
  background: #fff;
  width: 100%;
  min-width: 140px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-phone-content-popup-item {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 31px;
  color: #2d2d2d;
  text-decoration: none;
  padding: 10px;
  -webkit-transition: color 0.35s;
  -moz-transition: color 0.35s;
  -ms-transition: color 0.35s;
  -o-transition: color 0.35s;
  transition: color 0.35s;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-phone-content-popup-item:hover {
  color: #0065ff;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-phone + .widget-button-wrap {
  margin-top: 7px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-address-icon, .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-email-icon, .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-phone-content-text-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 16px;
  margin-right: 8px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-address-text, .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-email-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 16px;
  color: #ACACAC;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-button {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
  -webkit-transition: color 0.35s;
  -moz-transition: color 0.35s;
  -ms-transition: color 0.35s;
  -o-transition: color 0.35s;
  transition: color 0.35s;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-button-wrap {
  font-size: 0;
  text-align: right;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-button:hover {
  color: #000 !important;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-authorize .widget-panel-button {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-authorize .widget-panel-button-icon {
  font-size: 15px;
  line-height: 1px;
  margin-right: 10px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-authorize .widget-panel-button-text {
  font-size: 12px;
  line-height: 15px;
  color: #5b5b5b;
}
@media all and (max-width: 1200px) {
  .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts-wrap {
    display: none;
  }
}
@media all and (max-width: 1000px) {
  .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-search-wrap {
    display: none;
  }
}
.c-header.c-header-template-1.widget-transparent .widget-view.widget-view-desktop .widget-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item .menu-item-text-wrapper {
  position: relative;
}
.c-header.c-header-template-1.widget-transparent .widget-view.widget-view-desktop .widget-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item .menu-item-text-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 100%;
  bottom: -1px;
  background: #fff;
  -webkit-transition: right 350ms;
  -moz-transition: right 350ms;
  -ms-transition: right 350ms;
  -o-transition: right 350ms;
  transition: right 350ms;
}
.c-header.c-header-template-1.widget-transparent .widget-view.widget-view-desktop .widget-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item:hover .menu-item-text-wrapper:after {
  right: 0;
}
.c-header.c-header-template-1.widget-transparent .widget-view.widget-view-desktop .widget-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item.menu-item-more .menu-item-text-wrapper:after {
  display: none;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-search .search-title, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-basket .basket-icons-item-counter, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item .menu-item-text-wrapper:hover, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-authorize .widget-panel-button-text:hover, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-basket .basket-icons-item:hover .basket-icons-item-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-button:hover, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-phone-content-text-value:hover, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-basket .basket-icons-item-counter, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-logotype svg, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-logotype path, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item .menu-item-text-wrapper, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-authorize .widget-panel-button-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-authorize .widget-panel-button-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-basket .basket-icons-item-counter, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-basket .basket-icons-item-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-button, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-phone-content-text-value, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-phone-content-text-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-email-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-email-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-address-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-address-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-search .search-title-button, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-search .search-title-input::placeholder, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-search .search-title-input {
  -webkit-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  -moz-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  -ms-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  -o-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item .menu-item-text-wrapper, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-authorize .widget-panel-button-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-authorize .widget-panel-button-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-basket .basket-icons-item-counter, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-basket .basket-icons-item-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-button, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-phone-content-text-value, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-phone-content-text-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-email-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-email-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-address-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-address-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-search .search-title-button, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-search .search-title-input::placeholder, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-search .search-title-input, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-logotype svg, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-logotype path {
  color: #fff !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-logotype svg, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-logotype path {
  fill: #fff !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item .menu-item-text-wrapper:after {
  background: #fff !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-basket .basket-icons-item-counter {
  background: black !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item .menu-item-text-wrapper:hover, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-authorize .widget-panel-button-text:hover, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-basket .basket-icons-item:hover .basket-icons-item-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-button:hover, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-phone-content-text-value:hover {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-basket .basket-icons-item-counter {
  border-color: black;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-search .search-title {
  background: rgba(255, 255, 255, 0.2);
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-search .search-title, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-basket .basket-icons-item-counter, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item .menu-item-text-wrapper:hover, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-authorize .widget-panel-button-text:hover, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-basket .basket-icons-item:hover .basket-icons-item-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-button:hover, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-phone-content-text-value:hover, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-basket .basket-icons-item-counter, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-logotype svg, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-logotype path, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item .menu-item-text-wrapper, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-authorize .widget-panel-button-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-authorize .widget-panel-button-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-basket .basket-icons-item-counter, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-basket .basket-icons-item-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-button, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-phone-content-text-value, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-phone-content-text-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-email-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-email-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-address-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-address-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-search .search-title-button, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-search .search-title-input::placeholder, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-search .search-title-input {
  -webkit-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  -moz-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  -ms-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  -o-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item .menu-item-text-wrapper, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-authorize .widget-panel-button-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-authorize .widget-panel-button-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-basket .basket-icons-item-counter, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-basket .basket-icons-item-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-button, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-phone-content-text-value, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-phone-content-text-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-email-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-email-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-address-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-address-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-search .search-title-button, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-search .search-title-input::placeholder, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-search .search-title-input, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-logotype svg, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-logotype path {
  color: #000 !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-logotype svg, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-logotype path {
  fill: #000 !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item .menu-item-text-wrapper:after {
  background: #000 !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-basket .basket-icons-item-counter {
  background: white !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item .menu-item-text-wrapper:hover, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-authorize .widget-panel-button-text:hover, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-basket .basket-icons-item:hover .basket-icons-item-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-button:hover, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-phone-content-text-value:hover {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-basket .basket-icons-item-counter {
  border-color: white;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-search .search-title {
  background: rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=style.css.map */
