.c-services.c-services-template-2 .widget-header + .widget-content {
    margin-top: 25px;
}
.c-services.c-services-template-2 .widget-content {
    margin-left: -7px;
    margin-right: -7px;
}
.c-services.c-services-template-2 .widget-element-wrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px;
}
.c-services.c-services-template-2 .widget-element {
    position: relative;
    overflow: hidden;
}
.c-services.c-services-template-2 .intec-grid-item-2 .widget-element {
    padding-bottom: 60%;
}
.c-services.c-services-template-2 .intec-grid-item-3 .widget-element {
    padding-bottom: 90%;
}
.c-services.c-services-template-2 .widget-element .widget-element-picture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-services.c-services-template-2 .widget-element:hover .widget-element-picture {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.c-services.c-services-template-2 .widget-element .widget-element-fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.c-services.c-services-template-2 .widget-element .widget-element-text {
    position: absolute;
    left: 30px;
    bottom: 35px;
}
.c-services.c-services-template-2 .widget-element .widget-element-name {
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    color: #FFF;
    max-width: 285px;
    margin-right: 35px;
}
.c-services.c-services-template-2 .widget-element .widget-element-price {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    color: #FFF;
    padding-top: 20px;
}
.c-services.c-services-template-2 .widget-element .widget-element-button-wrapper {
    padding-top: 15px;
}
.c-services.c-services-template-2 .widget-element .widget-element-button {
    display: inline-block;
    padding: 18px 15px;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    line-height: 1;
    color: #FFF;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-services.c-services-template-2 .widget-footer {
    margin-top: 35px;
    padding: 0;
}
.c-services.c-services-template-2 .widget-footer.align-left {
    text-align: left;
}
.c-services.c-services-template-2 .widget-footer.align-center {
    text-align: center;
}
.c-services.c-services-template-2 .widget-footer.align-right {
    text-align: right;
}
.c-services.c-services-template-2 .widget-footer .widget-footer-all {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    padding: 18px 28px;
    border: 2px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-services.c-services-template-2 .widget-footer .widget-footer-all:hover {
    color: #FFF;
}

@media all and (max-width: 1200px) {
    .c-services.c-services-template-2 .widget-element .widget-element-name {
        font-size: 26px;
    }
}
@media all and (max-width: 1000px) {
    .c-services.c-services-template-2 .intec-grid-item-3 .widget-element {
        padding-bottom: 60%;
    }
    .c-services.c-services-template-2 .widget-element .widget-element-name {
        font-size: 24px;
    }
    .c-services.c-services-template-2 .widget-element .widget-element-price {
        font-size: 21px;
    }
}
@media all and (max-width: 850px) {
    .c-services.c-services-template-2 .intec-grid-item-2 .widget-element,
    .c-services.c-services-template-2 .intec-grid-item-3 .widget-element {
        padding-bottom: 80%;
    }
    .c-services.c-services-template-2 .widget-element .widget-element-text {
        left: 20px;
        bottom: 20px;
    }
    .c-services.c-services-template-2 .widget-element .widget-element-name {
        font-size: 21px;
    }
    .c-services.c-services-template-2 .widget-element .widget-element-price {
        font-size: 18px;
    }
}
@media all and (max-width: 600px) {
    .c-services.c-services-template-2 .intec-grid-item-2 .widget-element,
    .c-services.c-services-template-2 .intec-grid-item-3 .widget-element {
        padding-bottom: 60%;
    }
}
@media all and (max-width: 450px) {
    .c-services.c-services-template-2 .intec-grid-item-2 .widget-element,
    .c-services.c-services-template-2 .intec-grid-item-3 .widget-element {
        padding-bottom: 90%;
    }
}