.c-gallery.c-gallery-template-2 .grid-4 {
    width: 25%;
}
.c-gallery.c-gallery-template-2 .grid-6 {
    width: 16.666666%;
}

.c-gallery.c-gallery-template-2 .widget-header + .widget-content {
    margin-top: 25px;
}
.c-gallery.c-gallery-template-2 .widget-content-wrapper {
    font-size: 0;
    text-align: center;
}
.c-gallery.c-gallery-template-2 .widget-element-wrap {
    display: inline-block;
    vertical-align: top;
}
.c-gallery.c-gallery-template-2 .widget-element {
    overflow: hidden;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.c-gallery.c-gallery-template-2 .widget-element.with-delimiter {
    margin: 3px;
}
.c-gallery.c-gallery-template-2 .widget-element .widget-picture {
    max-width: 100%;
    padding-top: 100%;
    height: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-gallery.c-gallery-template-2 .widget-element:hover .widget-picture {
    transform: scale(1.2);
}
.c-gallery.c-gallery-template-2 .widget-element img {
    display:block;
}
.c-gallery.c-gallery-template-2 .widget-footer {
    margin-top: 25px;
}
.c-gallery.c-gallery-template-2 .widget-footer-all {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    padding: 15px;
    border: 2px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.c-gallery.c-gallery-template-2 .widget-footer-all:hover {
    color: #FFF;
}

@media all and (max-width: 1000px) {
    .c-gallery.c-gallery-template-2 .grid-6 {
        width: 25%;
    }
}
@media all and (max-width: 720px) {
    .c-gallery.c-gallery-template-2 .grid-6,
    .c-gallery.c-gallery-template-2 .grid-4 {
        width: 33.333333%;
    }
}
@media all and (max-width: 500px) {
    .c-gallery.c-gallery-template-2 .grid-6,
    .c-gallery.c-gallery-template-2 .grid-4 {
        width: 50%;
    }
}