.constructor {
  height: 100%;
  background: #f5f5f5;
}
.constructor .constructor-panel.constructor-panel-element {
  position: absolute;
  z-index: 2;
  top: 85px;
  right: 35px;
  font-size: 0;
  background: #2d303b;
  overflow: hidden;
  opacity: 0.95;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.constructor .constructor-panel.constructor-panel-element .constructor-panel-button {
  display: inline-block;
  vertical-align: top;
  width: 45px;
  height: 45px;
  font-size: 20px;
  line-height: 45px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -ms-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
}
.constructor .constructor-panel.constructor-panel-element .constructor-panel-button:hover {
  background: #454956;
}
.constructor .constructor-panel.constructor-panel-element .constructor-panel-button:active {
  background: #25272d;
}
.constructor .constructor-panel.constructor-panel-element .constructor-panel-button.constructor-panel-button-copy, .constructor .constructor-panel.constructor-panel-element .constructor-panel-button.constructor-panel-button-remove {
  font-size: 14px;
}
.constructor .constructor-panel.constructor-panel-element .constructor-panel-button.constructor-panel-button-copy:hover, .constructor .constructor-panel.constructor-panel-element .constructor-panel-button.constructor-panel-button-copy:active {
  background: #2284ff;
}
.constructor .constructor-panel.constructor-panel-element .constructor-panel-button.constructor-panel-button-remove:hover, .constructor .constructor-panel.constructor-panel-element .constructor-panel-button.constructor-panel-button-remove:active {
  background: #ff0000;
}

.constructor-book-icon {
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 15px;
  background-image: url("../images/blocks/books.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.constructor-book-icon.constructor-book-icon-open {
  background-position: 50% -25px;
}

.constructor-guides-wrap {
  position: absolute;
  z-index: 1;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  pointer-events: none;
  overflow: hidden;
}

.constructor-guides-columns-wrap {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
}

.constructor-guides-columns {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: auto;
  border-collapse: separate;
}
.constructor-guides-columns > .constructor-guides-column {
  display: table-cell;
  border: 1px solid #448afe;
  background-color: rgba(70, 108, 254, 0.18);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.constructor-menu.constructor-menu-top {
  display: block;
  position: absolute;
  z-index: 3;
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  overflow: hidden;
  background: #25272D;
  color: #f5fcff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.constructor-menu.constructor-menu-top .constructor-menu-wrapper {
  position: relative;
  height: 100%;
}
.constructor-menu.constructor-menu-top .constructor-menu-back {
  height: 100%;
  text-align: center;
  color: #898989;
  width: 60px;
  font-size: 30px;
  border-right: 1px solid #242833;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: no-drop;
}
.constructor-menu.constructor-menu-top .constructor-menu-back.constructor-menu-back-active {
  cursor: pointer;
  color: #fff;
}
.constructor-menu.constructor-menu-top .constructor-menu-back.constructor-menu-back-active:hover {
  background-color: #2d303b;
}
.constructor-menu.constructor-menu-top .constructor-menu-back.constructor-menu-back-active:active {
  background-color: #25272d;
}
.constructor-menu.constructor-menu-dropdown {
  display: none;
  position: fixed;
  z-index: 3;
  top: 69px;
  left: 15px;
  width: 260px;
  color: #181919;
}
.constructor-menu.constructor-menu-dropdown:before {
  content: "";
  position: relative;
  display: block;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -13px;
  border-bottom: 13px solid #fff;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}
.constructor-menu.constructor-menu-dropdown .constructor-menu-wrapper {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.constructor-menu.constructor-menu-dropdown .constructor-menu-wrapper-3 {
  padding: 0;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-elements {
  left: 30px;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-elements .constructor-menu-elements {
  padding: 0;
  margin: 0;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-elements .constructor-menu-element {
  padding: 20px 15px;
  line-height: 1;
  border-top: 1px solid #e8e8e8;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-elements .constructor-menu-element:first-child {
  border-top: none;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-elements .constructor-menu-element:hover {
  color: #3761ef;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-elements .constructor-menu-element-icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-image: url("../images/blocks/element.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions {
  left: 340px;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolutions {
  padding: 0;
  margin: 0;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution {
  display: block;
  padding: 20px 15px;
  line-height: 1px;
  border-top: 1px solid #e8e8e8;
  cursor: pointer;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -ms-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
  -webkit-transition-property: color, background;
  -moz-transition-property: color, background;
  -ms-transition-property: color, background;
  -o-transition-property: color, background;
  transition-property: color, background;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution:first-child {
  border-top: none;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution:hover {
  color: #3761ef;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution:hover .constructor-menu-resolution-icon-edit {
  display: block;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution .constructor-menu-resolution-wrapper {
  display: block;
  position: relative;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution.constructor-menu-resolution-selected .constructor-menu-resolution-icon-active {
  color: #3761ef;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution.constructor-menu-resolution-add {
  padding: 15px;
  text-align: center;
  font-size: 16px;
  color: #353636;
  line-height: 1;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution.constructor-menu-resolution-add:hover {
  background: #116afc;
  color: #fff;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution-icon-active {
  padding-right: 5px;
  color: transparent;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution-icon-gadget {
  display: inline-block;
  vertical-align: middle;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  background-image: url("../images/blocks/gadgets.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution-icon-gadget.constructor-menu-resolution-icon-gadget-tablet {
  background-position: 50% -66px;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution-icon-gadget.constructor-menu-resolution-icon-gadget-desktop {
  background-position: 50% -140px;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution-icon-edit {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: 0;
  font-size: 12px;
  line-height: 1;
  color: #b8b8b8;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -ms-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution-icon-edit:hover {
  color: #3761ef;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution-edit {
  display: block;
  position: relative;
  cursor: default;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution-edit .constructor-menu-resolution-button {
  display: block;
  position: absolute;
  top: 50%;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  font-size: 12px;
  text-align: center;
  color: #353636;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution-edit .constructor-menu-resolution-button.constructor-menu-resolution-button-save {
  color: #46ae94;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution-edit .constructor-menu-resolution-button.constructor-menu-resolution-button-save:hover {
  color: #50dbc0;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution-edit .constructor-menu-resolution-button.constructor-menu-resolution-button-remove {
  right: 0;
  font-size: 10px;
  color: #b82f2f;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution-edit .constructor-menu-resolution-button.constructor-menu-resolution-button-remove:hover {
  color: #fd0300;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution-edit .constructor-menu-resolution-fields {
  display: block;
  position: relative;
  margin: 0 10px;
  clear: both;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution-edit .constructor-menu-resolution-field {
  display: block;
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution-edit .constructor-menu-resolution-field input {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 7px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #d0d0d0;
  color: #353636;
}
.constructor-menu.constructor-menu-dropdown.constructor-menu-dropdown-resolutions .constructor-menu-resolution-edit .constructor-menu-resolution-delimiter {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  text-align: center;
  width: 20px;
  color: #353636;
  line-height: 1;
}
.constructor-menu.constructor-menu-settings {
  display: none;
  position: fixed;
  top: 79px;
  left: 15px;
  bottom: 15px;
  right: auto;
  width: 300px;
  font-size: 13px;
  background: #282c35;
  z-index: 2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -ms-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
}
.constructor-menu.constructor-menu-settings .constructor-menu-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.constructor-menu.constructor-menu-settings .constructor-menu-header {
  padding: 0 20px 20px 20px;
  margin: 20px 0 0 0;
  border-bottom: 1px solid #3e414a;
  color: #fff;
}
.constructor-menu.constructor-menu-settings .constructor-menu-header .constructor-menu-header-text {
  font-size: 16px;
}
.constructor-menu.constructor-menu-settings .constructor-menu-header .constructor-menu-close {
  float: right;
  cursor: pointer;
}
.constructor-menu.constructor-menu-settings .constructor-menu-content {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  position: relative;
  margin: 20px 0;
}
.constructor-menu.constructor-menu-settings .constructor-menu-content .constructor-menu-content-wrapper-2 {
  padding: 0;
  right: 0;
}
.constructor-menu.constructor-menu-settings .constructor-menu-content .constructor-menu-content-wrapper-3 {
  display: block;
  position: relative;
  padding: 0 20px;
}
.constructor-menu.constructor-menu-settings .constructor-menu-content .constructor-menu-text {
  color: #f7faff;
  font-size: 12px;
  line-height: 1.5;
}
.constructor-menu.constructor-menu-settings .constructor-menu-content .constructor-menu-section {
  display: block;
}
.constructor-menu.constructor-menu-settings .constructor-menu-content .constructor-menu-section .constructor-menu-section-title {
  display: block;
  color: #fafeff;
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 15px;
}
.constructor-menu.constructor-menu-settings .constructor-menu-content .constructor-menu-section .constructor-menu-section-fields {
  display: block;
  margin-top: -7px;
  margin-bottom: -7px;
  min-height: 14px;
}
.constructor-menu.constructor-menu-settings .constructor-menu-content .constructor-menu-field {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
}
.constructor-menu.constructor-menu-settings .constructor-menu-content .constructor-menu-field .constructor-menu-field-title {
  display: block;
  color: #f7faff;
  font-size: 12px;
  line-height: 1.5;
  padding-bottom: 5px;
}
.constructor-menu.constructor-menu-settings .constructor-menu-content .constructor-menu-field .constructor-menu-field-content {
  display: block;
}
.constructor-menu.constructor-menu-settings .constructor-menu-content .constructor-menu-delimiter {
  display: block;
  background: #3e414a;
  height: 1px;
  overflow: hidden;
}
.constructor-menu.constructor-menu-layers {
  display: none;
  position: fixed;
  top: 79px;
  right: 15px;
  bottom: 15px;
  left: auto;
  width: 320px;
  font-size: 13px;
  z-index: 2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -ms-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  visibility: hidden;
  overflow: hidden;
}
.constructor-menu.constructor-menu-layers .constructor-menu-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.constructor-menu.constructor-menu-layers .constructor-menu-header {
  padding: 20px;
  border-bottom: 1px solid #e8e8e8;
  background: #fffffe;
  visibility: visible;
}
.constructor-menu.constructor-menu-layers .constructor-menu-header .constructor-menu-header-text {
  font-size: 16px;
  color: #1d1d1d;
}
.constructor-menu.constructor-menu-layers .constructor-menu-header .constructor-menu-close {
  cursor: pointer;
  color: #c4c4c3;
  font-size: 12px;
  line-height: 1;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -ms-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.constructor-menu.constructor-menu-layers .constructor-menu-header .constructor-menu-close:hover {
  color: #1d1d1d;
}
.constructor-menu.constructor-menu-layers .constructor-menu-content {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  position: relative;
  overflow: hidden;
}
.constructor-menu.constructor-menu-layers .constructor-menu-content .constructor-menu-content-wrapper {
  visibility: visible;
  height: 100%;
}
.constructor-menu.constructor-menu-layers .constructor-menu-content .constructor-menu-content-wrapper-2 {
  padding: 0;
  right: 0;
}
.constructor-menu.constructor-menu-layers .constructor-menu-content .constructor-menu-content-wrapper-3 {
  background: #fffffe;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
.constructor-menu.constructor-menu-layers .constructor-menu-content .constructor-menu-layer {
  display: block;
  border-top: 1px solid #e8e8e8;
  padding: 20px;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -ms-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -ms-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  cursor: pointer;
}
.constructor-menu.constructor-menu-layers .constructor-menu-content .constructor-menu-layer.constructor-menu-layer-active {
  background: #f9f9f9;
}
.constructor-menu.constructor-menu-layers .constructor-menu-content .constructor-menu-layer.constructor-menu-layer-active .constructor-menu-layer-name {
  color: #3761ef;
}
.constructor-menu.constructor-menu-layers .constructor-menu-content .constructor-menu-layer:hover {
  background: #f6f6f6;
}
.constructor-menu.constructor-menu-layers .constructor-menu-content .constructor-menu-layer:hover .constructor-menu-layer-name {
  color: #3761ef;
}
.constructor-menu.constructor-menu-layers .constructor-menu-content .constructor-menu-layer:first-child {
  border-top: none;
}
.constructor-menu.constructor-menu-layers .constructor-menu-content .constructor-menu-layer-drag {
  color: #1d1d1d;
  font-size: 14px;
  line-height: 1;
  cursor: move;
}
.constructor-menu.constructor-menu-layers .constructor-menu-content .constructor-menu-layer-image {
  display: block;
}
.constructor-menu.constructor-menu-layers .constructor-menu-content .constructor-menu-layer-image img {
  width: 20px;
  height: 20px;
}
.constructor-menu.constructor-menu-layers .constructor-menu-content .constructor-menu-layer-name {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -ms-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.constructor-menu.constructor-menu-layers .constructor-menu-content .constructor-menu-layer-icon {
  display: block;
  font-size: 12px;
  color: #999998;
  line-height: 1;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -ms-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
.constructor-menu.constructor-menu-layers .constructor-menu-content .constructor-menu-layer-icon:hover {
  color: #1d1d1d;
}
.constructor-menu.constructor-menu-layers .constructor-menu-content .constructor-menu-message {
  display: block;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  color: #919191;
}

.constructor-area {
  position: relative;
  height: 100%;
  padding-top: 64px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.constructor-area.active {
  margin-left: 300px;
}
.constructor-area .constructor-area-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.constructor-area .constructor-structure {
  position: relative;
  height: 100%;
  overflow: auto;
  padding: 1px;
  box-sizing: border-box;
  z-index: 0;
}
.constructor-area .constructor-structure .constructor-structure-wrapper {
  position: relative;
  display: block;
  overflow: auto;
  text-align: center;
  white-space: nowrap;
}
.constructor-area .constructor-structure .constructor-structure-wrapper-2 {
  position: relative;
  display: inline-block;
  white-space: normal;
  text-align: left;
  padding: 100px;
}
.constructor-area .constructor-structure .constructor-structure-wrapper-3 {
  position: relative;
  display: block;
  border: 1px solid #cfcfcf;
  background: #fff;
}
.constructor-area .constructor-structure .constructor-structure-wrapper-4 {
  position: relative;
  display: block;
  margin: 0 60px;
  border: 1px solid #cfcfcf;
  border-top: none;
  border-bottom: none;
  background: #fff;
}
.constructor-area .constructor-structure .constructor-structure-bound {
  display: block;
  position: absolute;
  border-left: 1px dashed #0d00fe;
  top: -10px;
  bottom: -10px;
  pointer-events: none;
}
.constructor-area .constructor-structure .constructor-structure-bound.constructor-structure-bound-left {
  left: -1px;
}
.constructor-area .constructor-structure .constructor-structure-bound.constructor-structure-bound-right {
  right: -1px;
}
.constructor-area .constructor-structure .constructor-structure-layers {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  visibility: hidden;
}
.constructor-area .constructor-structure .constructor-structure-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
}
.constructor-area .constructor-structure .constructor-structure-element {
  position: relative;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  visibility: visible;
}
.constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-border {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #06d1a2;
}
.constructor-area .constructor-structure .constructor-structure-element.constructor-structure-element-locked .constructor-structure-element-border {
  border-color: #e91e63;
}
.constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-bottom-left, .constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-bottom-right, .constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-bottom, .constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-left, .constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-right, .constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-top-left, .constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-top-right, .constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-top {
  position: absolute;
}
.constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-bottom-left:after, .constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-bottom-right:after, .constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-bottom:after, .constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-left:after, .constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-right:after, .constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-top-left:after, .constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-top-right:after, .constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-top:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  background: #06d1a2;
  border-radius: 100%;
  top: -3px;
  left: -3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-property: top, left, width, height;
  -moz-transition-property: top, left, width, height;
  -ms-transition-property: top, left, width, height;
  -o-transition-property: top, left, width, height;
  transition-property: top, left, width, height;
}
.constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-top {
  top: -10px;
  left: 50%;
}
.constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-top-right {
  top: -10px;
  right: -10px;
}
.constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-top-left {
  top: -10px;
  left: -10px;
}
.constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-right {
  top: 50%;
  right: -10px;
}
.constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-left {
  top: 50%;
  left: -10px;
}
.constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-bottom {
  bottom: -10px;
  left: 50%;
}
.constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-bottom-right {
  bottom: -10px;
  right: -10px;
}
.constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-sizes .constructor-structure-element-size-bottom-left {
  bottom: -10px;
  left: -10px;
}
.constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.constructor-area .constructor-structure .constructor-structure-element .constructor-structure-element-wrapper-2 {
  position: relative;
  width: 100%;
  height: 100%;
}
.constructor-area .constructor-structure .constructor-structure-axis {
  position: absolute;
  pointer-events: none;
}
.constructor-area .constructor-structure .constructor-structure-axis .constructor-structure-point {
  position: absolute;
  top: -1px;
  left: -1px;
  height: 3px;
  width: 3px;
  background: #0d00fe;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.constructor-area .constructor-structure .constructor-structure-axis .constructor-structure-vertical {
  position: absolute;
  top: -6px;
  height: 13px;
  width: 1px;
  background: #0d00fe;
  overflow: hidden;
}
.constructor-area .constructor-structure .constructor-structure-axis .constructor-structure-horizontal {
  position: absolute;
  left: -6px;
  height: 1px;
  width: 13px;
  background: #0d00fe;
  overflow: hidden;
}

/*# sourceMappingURL=editor.block.css.map */
