@keyframes c-services-template-1 {
    from {
        padding-left: 0;
    }
    50% {
        padding-left: 10px;
    }
    to {
        padding-left: 0;
    }
}
.c-services.c-services-template-1 .widget-header + .widget-content {
    margin-top: 20px;
}
.c-services.c-services-template-1 .widget-content {
    margin: 0 -5px;
}
.c-services.c-services-template-1 .widget-element-wrap {
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.c-services.c-services-template-1 .widget-element {
    position: relative;
    text-align: left;
    background-color: #f1f1f1;
    height: 320px;
    padding: 45px 45px 35px 45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.c-services.c-services-template-1 .intec-grid-item-2 .widget-element {
    height: 290px;
}
.c-services.c-services-template-1 .widget-element-fade {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    opacity: 0;
    -webkit-transition-property: bottom, opacity;
    -moz-transition-property: bottom, opacity;
    -ms-transition-property: bottom, opacity;
    -o-transition-property: bottom, opacity;
    transition-property: bottom, opacity;
    -webkit-transition-duration: 0.4s, 0.3s;
    -moz-transition-duration: 0.4s, 0.3s;
    -ms-transition-duration: 0.4s, 0.3s;
    -o-transition-duration: 0.4s, 0.3s;
    transition-duration: 0.4s, 0.3s;
}
.c-services.c-services-template-1 .widget-element:hover .widget-element-fade {
    bottom: 0;
    opacity: 1;
}
.c-services.c-services-template-1 .widget-element-name {
    position: relative;
    z-index: 1;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    max-height: 50px;
    overflow: hidden;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-services.c-services-template-1 .widget-element:hover .widget-element-name {
    color: #FFF;
}
.c-services.c-services-template-1 .widget-element-description {
    position: relative;
    z-index: 1;
    font-size: 14px;
    font-weight: normal;
    padding-top: 25px;
    max-height: 150px;
    line-height: 21px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-services.c-services-template-1 .intec-grid-item-2 .widget-element-description {
    max-height: 109px;
}
.c-services.c-services-template-1 .widget-element:hover .widget-element-description {
    color: #FFF;
}
.c-services.c-services-template-1 .widget-element-detail-wrap {
    position: relative;
    z-index: 1;
    padding-top: 20px;
}
.c-services.c-services-template-1 .widget-element-detail {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.c-services.c-services-template-1 .widget-element-detail .widget-element-detail-text {
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-services.c-services-template-1 .widget-element-detail i {
    vertical-align: middle;
    font-size: 20px;
    font-weight: normal;
    padding-left: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-services.c-services-template-1 .widget-element-detail:hover i {
    animation-name: c-services-template-1;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
}
.c-services.c-services-template-1 .widget-element:hover .widget-element-detail {
    color: #FFF;
}

.c-services.c-services-template-1 .widget-footer {
    margin-top: 35px;
    padding: 0;
}
.c-services.c-services-template-1 .widget-footer.align-left {
    text-align: left;
}
.c-services.c-services-template-1 .widget-footer.align-center {
    text-align: center;
}
.c-services.c-services-template-1 .widget-footer.align-right {
    text-align: right;
}
.c-services.c-services-template-1 .widget-footer .widget-footer-all {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    padding: 18px 28px;
    border: 2px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-services.c-services-template-1 .widget-footer .widget-footer-all:hover {
    color: #FFF;
}

@media all and (max-width: 600px) {
    .c-services.c-services-template-1 .widget-element {
        height: initial!important;
    }
    .c-services.c-services-template-1 .widget-element-description {
        max-height: initial!important;
    }
}