$dialogs-themes: (
  'default': (
    'border': #4c4f56,
    'background': #2f3138,
    'text': #f1f1f1
  ),
  'white': (
    'border': #e8e8e8,
    'background': #fff,
    'text': #7b7f82
  )
);

.ui-widget {
  $theme: map-get($dialogs-themes, 'default');

  &-overlay {
    background: rgba(0,0,0,0.5);
  }

  &.ui-dialog {
    padding: 0;
    background: map-get($theme, 'background');
    color: map-get($theme, 'text');
    border-radius: 5px;
    outline: none;
    overflow: hidden;

    .ui-dialog-titlebar {
      display: none;
    }

    .ui-dialog-content {
      position: relative;
      padding: 0;
      overflow: visible;
    }

    .constructor-dialog {
      @include flex;
      @include flex-direction('column');

      %constructor-dialog-section {
        width: 100%;
      }

      .constructor-dialog-header {
        @extend %constructor-dialog-section;

        .constructor-dialog-header-wrapper {
          @include flex;

          padding: 16px 25px;
          border-bottom: 1px solid map-get($theme, 'border');
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;

          .constructor-dialog-title {
            font-size: 18px;
            color: #202427;
            margin-right: 40px;
            line-height: 1.3;
            white-space: nowrap;
          }

          .constructor-dialog-content {
            @include flex-item-grow(1);

            .constructor-dialog-search {
              margin-left: 60px;
              cursor: text;

              .constructor-icon-search {
                font-size: 14px;
                margin-right: 20px;
              }

              .constructor-dialog-search-input {
                color: #8e9194;
                outline: none;
                border: none;
                background: transparent;
              }
            }
          }

          .constructor-dialog-buttons {
            white-space: nowrap;

            .constructor-dialog-button {
              display: inline-block;
              vertical-align: middle;
              margin-left: 5px;
              font-size: 12px;
              color: #acb7c1;
              cursor: pointer;
              background: none;
              border: none;
            }
          }
        }
      }
      .constructor-dialog-body {
        @extend %constructor-dialog-section;
        @include flex-item-grow(1);
        @include flex-item-basis(0);

        position: relative;
        overflow: hidden;
      }
      .constructor-dialog-footer {
        @extend %constructor-dialog-section;

        .constructor-dialog-footer-wrapper {
          padding: 16px 25px;
          border-top: 1px solid map-get($theme, 'border');
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
      }

      &[style*="height: auto"] {
        .constructor-dialog-body {
          overflow: visible;
        }
      }
    }

    &.ui-dialog-expanded {
      width: 100% !important;
      height: 100% !important;
      top: 0 !important;
      left: 0 !important;

      .constructor-dialog {
        height: 100% !important;

        .constructor-dialog-body {
          overflow: hidden;
        }
      }
    }
  }
}

@each $name, $theme in $dialogs-themes {
  @if ($name != 'default') {
    .ui-widget {
      &.ui-dialog {
        background: map-get($theme, 'background');
        color: map-get($theme, 'text');

        .constructor-dialog {
          .constructor-dialog-header {
            .constructor-dialog-header-wrapper {
              border-color: map-get($theme, 'border');
            }
          }

          .constructor-dialog-footer {
            .constructor-dialog-footer-wrapper {
              border-color: map-get($theme, 'border');
            }
          }
        }
      }
    }
  }
}