.c-form.c-form-template-1 .intec-content-wrapper {
    padding: 50px 0;
}
.c-form.c-form-template-1 .widget-content {
    position: relative;
    display: table;
    width: 100%;
}
.c-form.c-form-template-1 .widget-form-text,
.c-form.c-form-template-1 .widget-form-action {
    display: table-cell;
    vertical-align: middle;
}
.c-form.c-form-template-1 .widget-form-text {
    width: auto;
}
.c-form.c-form-template-1 .widget-form-action {
    width: 350px;
    text-align: center;
    font-size: 0;
}
.c-form.c-form-template-1 .widget-form-title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 900;
    max-width: 600px;
}
.c-form.c-form-template-1 .widget-form-description {
    font-size: 14px;
    line-height: 21px;
    max-width: 650px;
    margin-top: 25px;
}
.c-form.c-form-template-1 .widget-form-button {
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    color: #FFF;
    padding: 20px 60px;
    cursor: pointer;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 25px;
}
.c-form.c-form-template-1 .widget-form-button:hover {
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}
.c-form.c-form-template-1 .view-left .widget-form-title,
.c-form.c-form-template-1 .view-left .widget-form-description {
    float: left;
    text-align: left;
    clear: both;
}
.c-form.c-form-template-1 .view-right .widget-form-title,
.c-form.c-form-template-1 .view-right .widget-form-description {
    float: right;
    text-align: right;
    clear: both;
}
.c-form.c-form-template-1 .widget-content.view-center {
    display: block;
}
.c-form.c-form-template-1 .widget-content.view-center .widget-form-text,
.c-form.c-form-template-1 .widget-content.view-center .widget-form-action {
    display: block;
    width: initial;
}
.c-form.c-form-template-1 .widget-content.view-center .widget-form-action {
    margin-top: 35px;
}
.c-form.c-form-template-1 .widget-content.view-center .widget-form-title,
.c-form.c-form-template-1 .widget-content.view-center .widget-form-description {
    text-align: center;
}
.c-form.c-form-template-1 .widget-content.view-center .widget-form-title {
    margin: auto;
}
.c-form.c-form-template-1 .widget-content.view-center .widget-form-description {
    margin: 25px auto auto auto;
}
.c-form.c-form-template-1 .theme-light .widget-form-title,
.c-form.c-form-template-1 .theme-light .widget-form-description {
    color: #FFF;
}
.c-form.c-form-template-1 .theme-dark .widget-form-title,
.c-form.c-form-template-1 .theme-dark .widget-form-description {
    color: #000;
}

@media all and (max-width: 720px) {
    .c-form.c-form-template-1 .widget-content {
        display: block;
    }
    .c-form.c-form-template-1 .view-left .widget-form-text,
    .c-form.c-form-template-1 .view-left .widget-form-action,
    .c-form.c-form-template-1 .view-right .widget-form-text,
    .c-form.c-form-template-1 .view-right .widget-form-action {
        display: block;
        width: initial;
    }
    .c-form.c-form-template-1 .view-right .widget-form-text {
        padding-bottom: 95px;
    }
    .c-form.c-form-template-1 .view-left .widget-form-action {
        margin-top: 35px;
    }
    .c-form.c-form-template-1 .view-right .widget-form-action {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .c-form.c-form-template-1 .view-left .widget-form-title,
    .c-form.c-form-template-1 .view-left .widget-form-description,
    .c-form.c-form-template-1 .view-right .widget-form-title,
    .c-form.c-form-template-1 .view-right .widget-form-description {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}
@media all and (max-width: 600px) {
    .c-form.c-form-template-1 .widget-form-title {
        font-size: 21px;
    }
    .c-form.c-form-template-1 .widget-form-button {
        font-size: 13px;
    }
}