.c-header.c-header-template-1 .widget-banner .widget-banner-1 {
  display: block;
}
.c-header.c-header-template-1 .widget-banner .widget-element {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/*# sourceMappingURL=style.css.map */
