.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-view-desktop-1 {
  display: block;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-view-desktop-1.widget-view-desktop-1-bordered .widget-container {
  border-bottom: 1px solid #e8e8e8;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel {
  display: block;
  border-bottom: 1px solid #e8e8e8;
  font-size: 0;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-left {
  float: left;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-right {
  float: right;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .widget-panel-buttons, .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .widget-panel-items {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .widget-panel-buttons + .widget-panel-buttons, .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .widget-panel-items + .widget-panel-buttons, .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .widget-panel-buttons + .widget-panel-items, .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .widget-panel-items + .widget-panel-items {
  margin-left: 40px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .widget-panel-buttons-wrapper, .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .widget-panel-items-wrapper {
  display: block;
  font-size: 0;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .widget-panel-button, .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .widget-panel-item {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  line-height: 1;
  font-size: medium;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .widget-panel-button-icon, .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .widget-panel-item-icon {
  font-size: 15px;
  color: #0065ff;
  margin-right: 10px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .widget-panel-button-text, .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .widget-panel-item-text {
  font-size: 12px;
  line-height: 18px;
  color: #999999;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-items-wrapper {
  margin: -10px -30px;
  min-width: 60px;
  min-height: 20px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-item {
  padding: 10px 30px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-item-wrapper {
  height: 40px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-button {
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  -webkit-transition: background 350ms;
  -moz-transition: background 350ms;
  -ms-transition: background 350ms;
  -o-transition: background 350ms;
  transition: background 350ms;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-button-wrapper {
  height: 40px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-button:hover {
  background: #f4f5f7;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-social-item {
  display: block;
  font-size: 14px;
  width: 14px;
  height: 14px;
  text-align: center;
  color: #d8d8d8;
  line-height: 1;
  -webkit-transition: color 350ms;
  -moz-transition: color 350ms;
  -ms-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-social-item:hover {
  color: #0065ff;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-phone {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  padding-left: 20px;
  font-size: 0;
  height: 40px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-phone .widget-panel-phone-arrow, .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-phone .widget-panel-phone-text, .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-phone .widget-panel-phone-content, .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-phone .widget-panel-phone-icon {
  display: inline-block;
  vertical-align: middle;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-phone-icon {
  font-size: 14px;
  line-height: 1;
  color: #0065ff;
  margin-right: 5px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-phone-content {
  position: relative;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-phone-text {
  font-size: 12px;
  line-height: 18px;
  color: #2d2d2d;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: 350ms color;
  -moz-transition: 350ms color;
  -ms-transition: 350ms color;
  -o-transition: 350ms color;
  transition: 350ms color;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-phone-text:hover {
  color: #0065ff;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-phone-popup {
  position: absolute;
  display: none;
  opacity: 0;
  top: 100%;
  left: -20px;
  right: -20px;
  padding-top: 20px;
  white-space: normal;
  z-index: 1;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-phone-popup-wrapper {
  padding: 10px;
  background: #fff;
  width: 100%;
  min-width: 140px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-phone-popup-item {
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #2d2d2d;
  text-decoration: none;
  padding: 10px;
  -webkit-transition: 350ms color;
  -moz-transition: 350ms color;
  -ms-transition: 350ms color;
  -o-transition: 350ms color;
  transition: 350ms color;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-phone-popup-item:hover {
  color: #0065ff;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel-phone-arrow {
  font-size: 12px;
  width: 12px;
  text-align: right;
  line-height: 1;
  color: #2d2d2d;
  margin-left: 5px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .widget-authorization-panel {
  display: inline-block;
  vertical-align: top;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .ns-bitrix.c-search-title.c-search-title-popup-1 {
  height: 100%;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .ns-bitrix.c-search-title.c-search-title-popup-1 .search-title-button {
  height: 100%;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .ns-bitrix.c-search-title.c-search-title-popup-1 .search-title-button-icon {
  font-size: 15px;
  color: #0065ff;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .ns-bitrix.c-search-title.c-search-title-popup-1 .search-title-button-text {
  font-size: 12px;
  line-height: 18px;
  color: #999999;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-panel .widget-menu.widget-menu-info {
  height: 100%;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container {
  display: block;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-wrapper {
  position: relative;
  height: 85px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-logotype {
  display: block;
  width: 130px;
  text-decoration: none;
  color: #1d1d1d;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-tagline {
  display: block;
  position: relative;
  padding-right: 20px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-tagline-delimiter {
  display: block;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  width: 1px;
  background: #e8e8e8;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-tagline-delimiter + .widget-container-tagline-text {
  margin-left: 20px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-tagline-text {
  display: block;
  width: 140px;
  font-size: 12px;
  line-height: 18px;
  color: #999999;
  max-height: 54px;
  overflow: hidden;
}
@media all and (max-width: 1024px) {
  .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-tagline-wrap {
    display: none;
  }
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-menu {
  height: 100%;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-menu-wrap {
  position: static;
  height: 100%;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-menu .ns-bitrix.c-menu.c-menu-horizontal-1 {
  background: transparent !important;
  height: 100%;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .intec-content,
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .intec-content-wrapper {
  height: 100%;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-wrapper {
  position: static;
  height: 100%;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item {
  background: transparent !important;
  height: 100%;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item .menu-item-text-wrapper {
  color: #1d1d1d !important;
  font-weight: bold;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone {
  display: block;
  position: relative;
  white-space: nowrap;
  padding-left: 20px;
  font-size: 0;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone .widget-container-phone-arrow, .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone .widget-container-phone-content, .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone .widget-container-phone-icon {
  display: inline-block;
  vertical-align: middle;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-icon {
  font-size: 16px;
  line-height: 1;
  color: #0065ff;
  margin-right: 5px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-content {
  position: relative;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-text {
  font-size: 16px;
  line-height: 24px;
  color: #2d2d2d;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: 350ms color;
  -moz-transition: 350ms color;
  -ms-transition: 350ms color;
  -o-transition: 350ms color;
  transition: 350ms color;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-text:hover {
  color: #0065ff;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-popup {
  position: absolute;
  display: none;
  opacity: 0;
  top: 100%;
  left: -20px;
  right: -20px;
  padding-top: 20px;
  white-space: normal;
  z-index: 1;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-popup-wrapper {
  padding: 10px;
  background: #fff;
  width: 100%;
  min-width: 140px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-popup-item {
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #2d2d2d;
  text-decoration: none;
  padding: 10px;
  -webkit-transition: 350ms color;
  -moz-transition: 350ms color;
  -ms-transition: 350ms color;
  -o-transition: 350ms color;
  transition: 350ms color;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-popup-item:hover {
  color: #0065ff;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-arrow {
  font-size: 12px;
  width: 12px;
  text-align: right;
  line-height: 1;
  color: #2d2d2d;
  margin-left: 5px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-contacts .widget-container-button {
  display: inline-block;
  position: relative;
  font-size: 12px;
  line-height: 16px;
  color: #2d2d2d;
  cursor: pointer;
  border-bottom: 1px dashed #2d2d2d;
  -webkit-transition: opacity 500ms, color 350ms, border 350ms;
  -moz-transition: opacity 500ms, color 350ms, border 350ms;
  -ms-transition: opacity 500ms, color 350ms, border 350ms;
  -o-transition: opacity 500ms, color 350ms, border 350ms;
  transition: opacity 500ms, color 350ms, border 350ms;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-contacts .widget-container-button-wrap {
  display: block;
  text-align: right;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-contacts .widget-container-button:hover {
  color: #0065ff;
  border-color: #0065ff;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-contacts[data-multiple=true] .widget-container-button-wrap {
  margin-right: 17px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-contacts[data-expanded=true] .widget-container-button {
  opacity: 0;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-container-basket {
  display: block;
  padding-left: 20px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-menu.widget-menu-transparent {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.c-header.c-header-template-1.widget-transparent .widget-view.widget-view-desktop .widget-view-desktop-1.widget-view-desktop-1-bordered .widget-container {
  border-bottom: none;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-search .search-title, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel-button:hover, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item-counter, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-button, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-logotype svg, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-logotype path, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item-counter, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-tagline-delimiter, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item:hover .menu-item-text .menu-item-text-wrapper, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item.menu-item-active .menu-item-text .menu-item-text-wrapper, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item .menu-item-text .menu-item-text-wrapper, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item-counter, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item .basket-icons-item-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-menu.widget-menu-info .widget-menu-item:hover .widget-menu-item-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-menu.widget-menu-info .widget-menu-item.widget-menu-item-text-active .widget-menu-item-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-menu.widget-menu-info .widget-menu-item .widget-menu-item-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-arrow, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-search .search-title-button, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-search .search-title-input, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-tagline-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel .ns-bitrix.c-search-title.c-search-title-popup-1 .search-title-button-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel .ns-bitrix.c-search-title.c-search-title-popup-1 .search-title-button-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel-phone-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel-phone-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel-phone-arrow, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel-social-item, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel-item-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel-button-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel-item-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel-button-icon {
  -webkit-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  -moz-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  -ms-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  -o-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item:hover .menu-item-text .menu-item-text-wrapper, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item.menu-item-active .menu-item-text .menu-item-text-wrapper, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item .menu-item-text .menu-item-text-wrapper, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item-counter, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item .basket-icons-item-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-menu.widget-menu-info .widget-menu-item:hover .widget-menu-item-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-menu.widget-menu-info .widget-menu-item.widget-menu-item-text-active .widget-menu-item-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-menu.widget-menu-info .widget-menu-item .widget-menu-item-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-button, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-arrow, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-search .search-title-button, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-search .search-title-input, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-tagline-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-logotype svg, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-logotype path, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel .ns-bitrix.c-search-title.c-search-title-popup-1 .search-title-button-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel .ns-bitrix.c-search-title.c-search-title-popup-1 .search-title-button-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel-phone-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel-phone-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel-phone-arrow, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel-social-item, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel-item-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel-button-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel-item-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel-button-icon {
  color: #fff !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-tagline-delimiter {
  background: #fff !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item-counter {
  background: black !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-logotype svg, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-logotype path {
  fill: #fff !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-button {
  border-color: #fff !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item-counter {
  border-color: black !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel {
  border-bottom: none;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel-button:hover {
  background: rgba(255, 255, 255, 0.15);
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel-social-item:hover {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-panel-phone-text:hover {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-tagline-delimiter {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-search .search-title {
  background: rgba(255, 255, 255, 0.2);
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-search .search-title-input::placeholder {
  color: #fff !important;
  -webkit-transition: color 350ms;
  -moz-transition: color 350ms;
  -ms-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-text:hover {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-button:hover {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-menu.widget-menu-transparent {
  border-top: none;
  border-bottom: none;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-menu.widget-menu-info .widget-menu-item:hover .widget-menu-item-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-menu.widget-menu-info .widget-menu-item.widget-menu-item-text-active .widget-menu-item-text {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item .basket-icons-item-icon {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item:hover .basket-icons-item-icon, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item.basket-icons-item-active .basket-icons-item-icon {
  opacity: 1;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item:hover .menu-item-text .menu-item-text-wrapper, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item.menu-item-active .menu-item-text .menu-item-text-wrapper {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-search .search-title, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel-button:hover, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item-counter, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-button, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-logotype svg, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-logotype path, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item-counter, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-tagline-delimiter, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item:hover .menu-item-text .menu-item-text-wrapper, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item.menu-item-active .menu-item-text .menu-item-text-wrapper, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item .menu-item-text .menu-item-text-wrapper, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item-counter, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item .basket-icons-item-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-menu.widget-menu-info .widget-menu-item:hover .widget-menu-item-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-menu.widget-menu-info .widget-menu-item.widget-menu-item-text-active .widget-menu-item-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-menu.widget-menu-info .widget-menu-item .widget-menu-item-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-arrow, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-search .search-title-button, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-search .search-title-input, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-tagline-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel .ns-bitrix.c-search-title.c-search-title-popup-1 .search-title-button-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel .ns-bitrix.c-search-title.c-search-title-popup-1 .search-title-button-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel-phone-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel-phone-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel-phone-arrow, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel-social-item, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel-item-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel-button-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel-item-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel-button-icon {
  -webkit-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  -moz-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  -ms-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  -o-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item:hover .menu-item-text .menu-item-text-wrapper, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item.menu-item-active .menu-item-text .menu-item-text-wrapper, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item .menu-item-text .menu-item-text-wrapper, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item-counter, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item .basket-icons-item-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-menu.widget-menu-info .widget-menu-item:hover .widget-menu-item-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-menu.widget-menu-info .widget-menu-item.widget-menu-item-text-active .widget-menu-item-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-menu.widget-menu-info .widget-menu-item .widget-menu-item-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-button, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-arrow, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-search .search-title-button, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-search .search-title-input, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-tagline-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-logotype svg, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-logotype path, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel .ns-bitrix.c-search-title.c-search-title-popup-1 .search-title-button-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel .ns-bitrix.c-search-title.c-search-title-popup-1 .search-title-button-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel-phone-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel-phone-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel-phone-arrow, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel-social-item, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel-item-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel-button-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel-item-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel-button-icon {
  color: #000 !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-tagline-delimiter {
  background: #000 !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item-counter {
  background: white !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-logotype svg, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-logotype path {
  fill: #000 !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-button {
  border-color: #000 !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item-counter {
  border-color: white !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel {
  border-bottom: none;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel-button:hover {
  background: rgba(0, 0, 0, 0.15);
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel-social-item:hover {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-panel-phone-text:hover {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-tagline-delimiter {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-search .search-title {
  background: rgba(0, 0, 0, 0.2);
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-search .search-title-input::placeholder {
  color: #000 !important;
  -webkit-transition: color 350ms;
  -moz-transition: color 350ms;
  -ms-transition: color 350ms;
  -o-transition: color 350ms;
  transition: color 350ms;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-phone-text:hover {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-container-contacts .widget-container-button:hover {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-menu.widget-menu-transparent {
  border-top: none;
  border-bottom: none;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-menu.widget-menu-info .widget-menu-item:hover .widget-menu-item-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-menu.widget-menu-info .widget-menu-item.widget-menu-item-text-active .widget-menu-item-text {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item .basket-icons-item-icon {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item:hover .basket-icons-item-icon, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .basket-icons-items .basket-icons-item.basket-icons-item-active .basket-icons-item-icon {
  opacity: 1;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item:hover .menu-item-text .menu-item-text-wrapper, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-item.menu-item-active .menu-item-text .menu-item-text-wrapper {
  opacity: 0.5;
}

/*# sourceMappingURL=style.css.map */
