@keyframes animate-arrow {
    from {
        transform: initial;
    }
    50% {
        transform: scale(1.2);
    }
    to {
        transform: initial;
    }
}
.c-videos.c-videos-template-1 .widget-header + .widget-content {
    margin-top: 25px;
}
.c-videos.c-videos-template-1 .widget-content {
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
}
.c-videos.c-videos-template-1 .widget-content.owl-carousel {
    margin-left: 0;
    margin-right: 0;
}
.c-videos.c-videos-template-1 .widget-element-wrap {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.c-videos.c-videos-template-1 .widget-element {
    position: relative;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.c-videos.c-videos-template-1 .intec-grid-item-5 .widget-element,
.c-videos.c-videos-template-1 .intec-grid-item-4 .widget-element {
    padding-top: 100%;
}
.c-videos.c-videos-template-1 .intec-grid-item-3 .widget-element {
    padding-top: 65%;
}
.c-videos.c-videos-template-1 .intec-grid-item-2 .widget-element {
    padding-top: 45%;
}
.c-videos.c-videos-template-1 .intec-grid-item-1 .widget-element {
    padding-top: 30%;
}

.c-videos.c-videos-template-1 .widget-element-fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.c-videos.c-videos-template-1 .widget-element-decoration {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.c-videos.c-videos-template-1 .widget-element-decoration::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.c-videos.c-videos-template-1 .widget-element-decoration-wrapper {
    display: inline-block;
    vertical-align: middle;
}
.c-videos.c-videos-template-1 .widget-element-decoration-icon {
    fill: #FFF;
    width: 75px;
    height: 75px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-videos.c-videos-template-1 .widget-element:hover .widget-element-decoration-icon {
    animation-name: animate-arrow;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}
.c-videos.c-videos-template-1 .owl-carousel .widget-element-wrap {
    width: 100%;
}
.c-videos.c-videos-template-1 .owl-carousel .owl-dots {
    font-size: 0;
    text-align: center;
    padding-top: 15px;
}
.c-videos.c-videos-template-1 .owl-carousel .owl-dot {
    display: inline-block;
    margin: 0 10px 0 10px;
}
.c-videos.c-videos-template-1 .owl-carousel .owl-dot span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-videos.c-videos-template-1 .owl-carousel .owl-dot.active span {
    background-color: #000;
}

.c-videos.c-videos-template-1 .widget-footer {
    font-size: 0;
    padding: 25px 0 0 0;
}
.c-videos.c-videos-template-1 .widget-footer .widget-footer-all {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    padding: 15px;
    border: 2px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.c-videos.c-videos-template-1 .widget-footer .widget-footer-all:hover {
    color: #FFF;
}

@media all and (max-width: 750px) {
    .c-videos.c-videos-template-1 .intec-grid-item-5 .widget-element,
    .c-videos.c-videos-template-1 .intec-grid-item-4 .widget-element,
    .c-videos.c-videos-template-1 .intec-grid-item-3 .widget-element,
    .c-videos.c-videos-template-1 .intec-grid-item-2 .widget-element {
        padding-top: 70%;
    }
}
@media all and (max-width: 550px) {
    .c-videos.c-videos-template-1 .intec-grid-item-5 .widget-element,
    .c-videos.c-videos-template-1 .intec-grid-item-4 .widget-element,
    .c-videos.c-videos-template-1 .intec-grid-item-3 .widget-element,
    .c-videos.c-videos-template-1 .intec-grid-item-2 .widget-element,
    .c-videos.c-videos-template-1 .intec-grid-item-1 .widget-element {
        padding-top: 50%;
    }
}
@media all and (max-width: 400px) {
    .c-videos.c-videos-template-1 .intec-grid-item-5 .widget-element,
    .c-videos.c-videos-template-1 .intec-grid-item-4 .widget-element,
    .c-videos.c-videos-template-1 .intec-grid-item-3 .widget-element,
    .c-videos.c-videos-template-1 .intec-grid-item-2 .widget-element,
    .c-videos.c-videos-template-1 .intec-grid-item-1 .widget-element {
        padding-top: 70%;
    }
}