@keyframes c-staff-template-2 {
    from {
        padding-left: 25px;
    }
    50% {
        padding-left: 35px;
    }
    to {
        padding-left: 25px;
    }
}
.c-staff.c-staff-template-2 .widget-header + .widget-content {
    margin-top: 25px;
}
.c-staff.c-staff-template-2 .widget-content {
    margin-left: -10px;
    margin-right: -10px;
}
.c-staff.c-staff-template-2 .widget-element {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px 40px 10px;
}
.c-staff.c-staff-template-2 .widget-element-wrapper {
    max-width: 285px;
    margin: auto;
}
.c-staff.c-staff-template-2 .widget-element-image {
    background-size: cover;
    background-position: center center;
    padding-top: 100%;
}
.c-staff.c-staff-template-2 .widget-element-name {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    padding-top: 15px;
    color: #1d1d1d;
}
.c-staff.c-staff-template-2 .widget-button-wrapper {
    display: inline-block;
    color: #2d2d2d;
    text-decoration: none;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}
.c-staff.c-staff-template-2 .widget-button-text {
    display: inline-block;
    vertical-align: middle;
}
.c-staff.c-staff-template-2 .widget-button-name {
    font-size: 18px;
    line-height: 27px;
}
.c-staff.c-staff-template-2 .widget-button-description {
    font-size: 10px;
    line-height: 15px;
    padding-top: 5px;
}
.c-staff.c-staff-template-2 .widget-button-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 27px;
    padding-left: 25px;
}
.c-staff.c-staff-template-2 .widget-button-wrapper:hover .widget-button-icon {
    animation-name: c-staff-template-2;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
}
.c-staff.c-staff-template-2 .widget-button-icon i {
    font-size: 14px;
    line-height: 14px;
}

@media all and (max-width: 500px) {
    .c-staff.c-staff-template-2 .widget-button-name {
        font-size: 14px;
    }
}