.c-header.c-header-template-1 .widget-view.widget-view-desktop {
  display: block;
  position: relative;
  z-index: 1;
}
.c-header.c-header-template-1 .widget-view.widget-view-fixed {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 110;
}
.c-header.c-header-template-1 .widget-view.widget-view-mobile {
  display: none;
  z-index: 110;
}
.c-header.c-header-template-1 .widget-banner {
  display: block;
  position: relative;
  z-index: 0;
}
@media all and (max-width: 768px) {
  .c-header.c-header-template-1 .widget-view.widget-view-fixed,
.c-header.c-header-template-1 .widget-view.widget-view-desktop {
    display: none !important;
  }
  .c-header.c-header-template-1 .widget-view.widget-view-mobile {
    display: block;
  }
  .c-header.c-header-template-1 .widget-view.widget-view-mobile.widget-view-mobile-fixed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
