$component: 'header';
$template: 'template-1';
$class: #{$component};

.c-#{$component}.c-#{$component}-#{$template} {
  .widget-view.widget-view-desktop {
    display: block;
    position: relative;
    z-index: 1;
  }

  .widget-view.widget-view-fixed {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 110;
  }

  .widget-view.widget-view-mobile {
    display: none;
    z-index: 110;
  }

  .widget-banner {
    display: block;
    position: relative;
    z-index: 0;
  }

  @media all and (max-width: 768px) {
    .widget-view.widget-view-fixed,
    .widget-view.widget-view-desktop {
      display: none !important;
    }

    .widget-view.widget-view-mobile {
      display: block;

      &.widget-view-mobile-fixed {
        position: fixed;
        top: 0;
        right: 0;
        bottom: auto;
        left: 0;
      }
    }
  }
}