.c-reviews.c-reviews-template-3 .widget-header + .widget-content {
    margin-top: 65px;
}
.c-reviews.c-reviews-template-3 .widget-content {
    padding-left: 120px;
    padding-right: 120px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.c-reviews.c-reviews-template-3 .widget-element-picture {
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.c-reviews.c-reviews-template-3 .widget-element-info {
    text-align: center;
    margin-top: 20px;
}
.c-reviews.c-reviews-template-3 .widget-element-name {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
}
.c-reviews.c-reviews-template-3 .widget-element-position {
    font-size: 13px;
    line-height: 13px;
    color: #9e9e9e;
    margin-top: 10px;
}
.c-reviews.c-reviews-template-3 .widget-element-description {
    font-size: 15px;
    line-height: 24px;
    color: #9e9e9e;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    max-height: 96px;
    overflow: hidden;
}
.c-reviews.c-reviews-template-3 .owl-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
}
.c-reviews.c-reviews-template-3 .owl-nav .owl-prev,
.c-reviews.c-reviews-template-3 .owl-nav .owl-next {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-reviews.c-reviews-template-3 .owl-nav .owl-prev {
    left: 0;
}
.c-reviews.c-reviews-template-3 .owl-nav .owl-next {
    right: 0;
}
.c-reviews.c-reviews-template-3 .owl-nav .owl-prev:hover,
.c-reviews.c-reviews-template-3 .owl-nav .owl-next:hover {
    background-color: #E3E3E3;
}
.c-reviews.c-reviews-template-3 .owl-nav .owl-prev i,
.c-reviews.c-reviews-template-3 .owl-nav .owl-next i {
    font-size: 30px;
    line-height: 40px;
}
.c-reviews.c-reviews-template-3 .owl-nav .owl-prev i {
    padding-right: 3px;
}
.c-reviews.c-reviews-template-3 .owl-nav .owl-next i {
    padding-left: 3px;
}
.c-reviews.c-reviews-template-3 .widget-footer {
    font-size: 0;
    margin-top: 35px;
}
.c-reviews.c-reviews-template-3 .widget-footer-all {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    padding: 18px 28px;
    border: 2px solid;
    transition: 0.4s;
}
.c-reviews.c-reviews-template-3 .widget-footer-all:hover {
    color: #FFF;
}
@media all and (max-width: 1000px) {
    .c-reviews.c-reviews-template-3 .widget-content {
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media all and (max-width: 720px) {
    .c-reviews.c-reviews-template-3 .widget-header .widget-title {
        font-size: 36px;
        line-height: 36px;
    }
}
@media all and (max-width: 500px) {
    .c-reviews.c-reviews-template-3 .widget-content {
        padding-left: 40px;
        padding-right: 40px;
    }
    .c-reviews.c-reviews-template-3 .widget-element-description {
        padding-left: 10px;
        padding-right: 10px;
        max-height: 147px;
        font-size: 13px;
        line-height: 21px;
    }
}