$component: 'header';
$template: 'template-1';
$class: #{$component};

.c-#{$component}.c-#{$component}-#{$template} {
  .widget-view.widget-view-fixed {
    .widget-view-fixed-1 {
      display: block;
      background: #fff;
      -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
      -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
      box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
    }

    .widget-wrapper {}
    .widget-wrapper-2 {
      position: relative;
    }

    .widget-wrapper-3 {}

    .widget-item {
      display: block;
      padding: 20px 0;
    }

    .widget-logotype {
      display: block;
      width: 130px;
      text-decoration: none;
      color: #1d1d1d;

      svg {
        max-height: 50px;
      }
    }

    .widget-menu {
      padding: 0;
      height: 100%;

      .ns-bitrix.c-menu.c-menu-horizontal-1 {
        height: 100%;

        .intec-content,
        .intec-content-wrapper {
          height: 100%;
        }

        .menu-wrapper {
          position: static;
          height: 100%;

          .menu-item .menu-item-text-wrapper {
            color: #1d1d1d !important;
            font-weight: bold;
          }
        }
      }

      &-wrap {
        position: static;
        min-height: 60px;
      }
    }
    .widget-basket {}

    .widget-search {
      .ns-bitrix.c-search-title.c-search-title-popup-1 {
        .search-title-button {
          color: #bebebf;
          font-size: 20px;
        }

        .search-title-button-text-wrap {
          display: none;
        }
      }
    }

    .widget-authorization {}
  }
}