.c-header.c-header-template-1 .widget-view.widget-view-fixed .widget-view-fixed-1 {
  display: block;
  background: #fff;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.c-header.c-header-template-1 .widget-view.widget-view-fixed .widget-wrapper-2 {
  position: relative;
}
.c-header.c-header-template-1 .widget-view.widget-view-fixed .widget-item {
  display: block;
  padding: 20px 0;
}
.c-header.c-header-template-1 .widget-view.widget-view-fixed .widget-logotype {
  display: block;
  width: 130px;
  text-decoration: none;
  color: #1d1d1d;
}
.c-header.c-header-template-1 .widget-view.widget-view-fixed .widget-logotype svg {
  max-height: 50px;
}
.c-header.c-header-template-1 .widget-view.widget-view-fixed .widget-menu {
  padding: 0;
  height: 100%;
}
.c-header.c-header-template-1 .widget-view.widget-view-fixed .widget-menu .ns-bitrix.c-menu.c-menu-horizontal-1 {
  height: 100%;
}
.c-header.c-header-template-1 .widget-view.widget-view-fixed .widget-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .intec-content,
.c-header.c-header-template-1 .widget-view.widget-view-fixed .widget-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .intec-content-wrapper {
  height: 100%;
}
.c-header.c-header-template-1 .widget-view.widget-view-fixed .widget-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-wrapper {
  position: static;
  height: 100%;
}
.c-header.c-header-template-1 .widget-view.widget-view-fixed .widget-menu .ns-bitrix.c-menu.c-menu-horizontal-1 .menu-wrapper .menu-item .menu-item-text-wrapper {
  color: #1d1d1d !important;
  font-weight: bold;
}
.c-header.c-header-template-1 .widget-view.widget-view-fixed .widget-menu-wrap {
  position: static;
  min-height: 60px;
}
.c-header.c-header-template-1 .widget-view.widget-view-fixed .widget-search .ns-bitrix.c-search-title.c-search-title-popup-1 .search-title-button {
  color: #bebebf;
  font-size: 20px;
}
.c-header.c-header-template-1 .widget-view.widget-view-fixed .widget-search .ns-bitrix.c-search-title.c-search-title-popup-1 .search-title-button-text-wrap {
  display: none;
}

/*# sourceMappingURL=style.css.map */
