.c-video-frame.c-video-frame-default {
    position: relative;
    overflow: hidden;
    height: 100%;
}
.c-video-frame.c-video-frame-default .widget-iframe-shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.c-video-frame.c-video-frame-default .widget-iframe-shadow-default {
    background-color: #000;
}
.c-video-frame.c-video-frame-default .widget-iframe-wrap {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
}
.c-video-frame.c-video-frame-default iframe {
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}