@keyframes c-services-template-4 {
    from {
        padding-left: 0;
    }
    50% {
        padding-left: 15px;
    }
    to {
        padding-left: 0;
    }
}
.c-services.c-services-template-4 .widget-header + .widget-content {
    margin-top: 25px;
}
.c-services.c-services-template-4 .widget-element-wrapper {
    height: 560px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.c-services.c-services-template-4 .widget-element {
    height: 100%;
}
.c-services.c-services-template-4 .widget-element .intec-content-wrapper {
    position: relative;
    height: inherit;
}
.c-services.c-services-template-4 .widget-element-content {
    background-color: #FFF;
    width: 430px;
    padding: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 9px 24px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 9px 24px 0 rgba(0, 0, 0, 0.35)    ;
    box-shadow: 0 9px 24px 0 rgba(0, 0, 0, 0.35)    ;
}
.c-services.c-services-template-4 .widget-element-icon-wrap {
    display: table;
    width: 100%;
    margin-bottom: 30px;
}
.c-services.c-services-template-4 .widget-element-icon,
.c-services.c-services-template-4 .widget-element-number {
    display: table-cell;
}
.c-services.c-services-template-4 .widget-element-icon {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.c-services.c-services-template-4 .widget-element-number {
    font-size: 14px;
    line-height: 1;
    text-align: right;
    color: #b0b0b0;
}
.c-services.c-services-template-4 .widget-element-name {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    max-height: 60px;
    overflow: hidden;
}
.c-services.c-services-template-4 .widget-element-description {
    line-height: 26px;
    max-height: 104px;
    color: #7b848f;
    overflow: hidden;
    margin-top: 35px;
}
.c-services.c-services-template-4 .widget-element-detail-wrap {
    margin-top: 15px;
}
.c-services.c-services-template-4 .widget-element-detail {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    line-height: 1;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-services.c-services-template-4 .widget-element-detail i {
    font-size: 20px;
    line-height: 20px;
    padding-left: 0;
}
.c-services.c-services-template-4 .widget-element-detail:hover i {
    animation-name: c-services-template-4;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}
.c-services.c-services-template-4 .widget-footer {
    margin-top: 35px;
    padding: 0;
}
.c-services.c-services-template-4 .widget-footer .widget-footer-all {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    padding: 18px 28px;
    border: 2px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-services.c-services-template-4 .widget-footer .widget-footer-all:hover {
    color: #FFF;
}

@media all and (max-width: 500px) {
    .c-services.c-services-template-4 .widget-element-content {
        width: 100%;
        padding: 50px 30px;
    }
    .c-services.c-services-template-4 .widget-element-icon-wrap {
        margin-bottom: 30px;
    }
    .c-services.c-services-template-4 .widget-element-icon {
        width: 50px;
        height: 50px;
    }
    .c-services.c-services-template-4 .widget-element-name {
        font-size: 20px;
        max-height: 90px;
    }
    .c-services.c-services-template-4 .widget-element-description {
        max-height: 130px;
    }
}