.c-advantages.c-advantages-template-2 .widget-header + .widget-content {
    margin-top: 25px;
}
.c-advantages.c-advantages-template-2 .widget-elements-wrapper {
    display: block;
    width: 100%;
    min-width: 50px;
    min-height: 20px;
    margin: 0 -25px;
    font-size: 0;
}
.c-advantages.c-advantages-template-2 .widget-element {
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 25px 25px 40px;
    text-align: left;
}
.c-advantages.c-advantages-template-2 .widget-element-counter {
    font-weight: bold;
    font-size: 55px;
}
.c-advantages.c-advantages-template-2 .widget-element-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    padding-top: 12px;
    padding-bottom: 15px;
    text-align: left;
    width: 75%;
}
.c-advantages.c-advantages-template-2 .intec-grid-item-5 .widget-element-name {
    width: initial;
}
.c-advantages.c-advantages-template-2 .widget-element-description {
    top: 100%;
    font-weight: normal;
    text-align: left;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
}
.c-advantages.c-advantages-template-2 .widget-element-icon {
    width: 80px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media all and (max-width: 1150px) {
    .c-advantages.c-advantages-template-2 .widget-element-name {
        width: initial;
    }
}
@media all and (max-width: 500px) {
    .c-advantages.c-advantages-template-2 .widget-element {
        padding-left: 0;
        padding-right: 0;
    }
}
