.c-slider.c-slider-template-2 .widget-element {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;
}
.c-slider.c-slider-template-2 .widget-element-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.c-slider.c-slider-template-2 .widget-element-wrapper {
    z-index: 1;
}
.c-slider.c-slider-template-2 .widget-element-wrapper,
.c-slider.c-slider-template-2 .widget-element-wrapper-2,
.c-slider.c-slider-template-2 .widget-element-content {
    position: relative;
    height: 100%;
}
.c-slider.c-slider-template-2 .widget-element-content {
    position: relative;
    display: table;
    width: 100%;
}
.c-slider.c-slider-template-2 .widget-element-image {
    position: absolute;
    display: table;
    top: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}
.c-slider.c-slider-template-2 .widget-element-image-left {
    right: 0;
}
.c-slider.c-slider-template-2 .widget-element-image-right {
    left: 0;
}
.c-slider.c-slider-template-2 .widget-element-image-wrapper {
    display: table-cell;
}
.c-slider.c-slider-template-2 .widget-element-image-wrapper img {
    max-width: 100%;
    max-height: 100%;
}
.c-slider.c-slider-template-2 .widget-element-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    z-index: 2;
}
.c-slider.c-slider-template-2 .widget-element-text-left {
    text-align: left;
}
.c-slider.c-slider-template-2 .widget-element-text-center {
    text-align: center;
}
.c-slider.c-slider-template-2 .widget-element-text-right {
    text-align: right;
}
.c-slider.c-slider-template-2 .widget-element-text-wrapper {
    display: inline-block;
    width: 50%;
}
.c-slider.c-slider-template-2 .widget-element-text-center .widget-element-text-wrapper {
    width: 100%;
}
.c-slider.c-slider-template-2 .widget-element-text-header {
    font-size: 50px;
    font-weight: 900;
    line-height: 1;
}
.c-slider.c-slider-template-2 .widget-element-text-description {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 20px;
}
.c-slider.c-slider-template-2 .widget-element-text-button-wrap {
    margin-top: 55px;
}
.c-slider.c-slider-template-2 .widget-element-text-button  {
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    color: #FFF;
    text-decoration: none;
    padding: 20px 35px;
    -webkit-border-radius: 29px;
    -moz-border-radius: 29px;
    border-radius: 29px;
    -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.75);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.c-slider.c-slider-template-2 .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 0;
    text-align: center;
    pointer-events: none;
}
.c-slider.c-slider-template-2 .owl-dots .owl-dot {
    display: inline-block;
    margin: 0 10px;
    pointer-events: initial;
}
.c-slider.c-slider-template-2 .owl-dots .owl-dot span {
    display: inline-block;
    width: 11px;
    height: 11px;
    border: 2px solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

/* WHITE THEME */
.c-slider.c-slider-template-2 .widget-element[data-color = 'black'] .widget-element-text-header,
.c-slider.c-slider-template-2 .widget-element[data-color = 'black'] .widget-element-text-description {
    color: #FFF;
}
.c-slider.c-slider-template-2[data-color = 'white'] .owl-dots .owl-dot span {
    border-color: #FFF;
}
.c-slider.c-slider-template-2[data-color = 'white'] .owl-dots .owl-dot.active span {
    background-color: #FFF;
}

/* BLACK THEME */
.c-slider.c-slider-template-2 .widget-element[data-color = 'white'] .widget-element-text-header,
.c-slider.c-slider-template-2 .widget-element[data-color = 'white'] .widget-element-text-description {
    color: #000;
}
.c-slider.c-slider-template-2[data-color = 'black'] .owl-dots .owl-dot span {
    border-color: #000;
}
.c-slider.c-slider-template-2[data-color = 'black'] .owl-dots .owl-dot.active span {
    background-color: #000;
}

@media all and (max-width: 1180px) {
    .c-slider.c-slider-template-2 .widget-element-video-wrap {
        display: none;
    }
}
@media all and (max-width: 800px) {
    .c-slider.c-slider-template-2 .widget-element-text-header {
        font-size: 35px;
    }
    .c-slider.c-slider-template-2 .widget-element-text-description {
        font-size: 16px;
    }
}
@media all and (max-width: 720px) {
    .c-slider.c-slider-template-2 .widget-element {
        height: 500px!important;
    }
    .c-slider.c-slider-template-2 .widget-element-text-left,
    .c-slider.c-slider-template-2 .widget-element-text-right {
        text-align: center;
    }
    .c-slider.c-slider-template-2 .widget-element-image {
        display: none;
    }
    .c-slider.c-slider-template-2 .widget-element-text-wrapper {
        width: 100%;
    }
}
@media all and (max-width: 500px) {
    .c-slider.c-slider-template-2 .widget-element {
        height: 350px!important;
    }
    .c-slider.c-slider-template-2 .widget-element-text-header {
        font-size: 20px;
    }
    .c-slider.c-slider-template-2 .widget-element-text-description {
        font-size: 12px;
        margin-top: 10px;
        line-height: 18px;
    }
    .c-slider.c-slider-template-2 .widget-element-text-button-wrap {
        margin-top: 15px;
    }
    .c-slider.c-slider-template-2 .widget-element-text-button {
        font-size: 11px;
        line-height: 11px;
        padding: 10px 15px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
    }
}