$namespace: 'bitrix';
$component: 'menu';
$template: 'popup-1';
$class: #{$component};

.ns-#{$namespace}.c-#{$component}.c-#{$component}-#{$template} {
  .#{$class}-button {
    display: block;
    font-size: 20px;
    font-weight: normal;
    color: #1d1d1d;
    line-height: 1;
    cursor: pointer;

    -webkit-transition: color 350ms;
    -moz-transition: color 350ms;
    -ms-transition: color 350ms;
    -o-transition: color 350ms;
    transition: color 350ms;

    &:hover {
      color: #0065ff;
    }
  }

  .#{$class} {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    z-index: 1;

    &-wrapper,
    &-wrapper-2 {
      display: block;
      position: relative;
      height: 100%;
    }

    &-panel {
      display: block;
      position: absolute;
      width: 100%;
      height: 86px;
      z-index: 1;
      border-bottom: 1px solid #f2f2f2;

      &-wrapper {
        height: 100%;
      }

      &-button {
        width: 18px;
        font-size: 18px;
        line-height: 1;
        cursor: pointer;
        color: #1d1d1d;

        -webkit-transition: color 350ms;
        -moz-transition: color 350ms;
        -ms-transition: color 350ms;
        -o-transition: color 350ms;
        transition: color 350ms;

        &:hover {
          color: #0065ff;
        }
      }

      &-logotype {
        display: inline-block;
        vertical-align: middle;
        width: 130px;
        color: #1d1d1d;
        text-decoration: none;

        svg {
          max-height: 50px;
        }

        &-wrap {
          text-align: center;
        }
      }
    }

    &-content {
      display: block;
      height: 100%;
      padding-top: 86px;
      z-index: 0;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      &-wrapper {
        display: block;
        padding: 40px 20px;
        height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      &-wrapper-2,
      &-wrapper-3 {
        outline: none;
      }

      .#{$class}-item.#{$class}-item-level-0 {
        margin-bottom: 30px;

        & > .#{$class}-item-name {
          text-decoration: none;
          color: #1d1d1d;
          font-size: 16px;
          line-height: 24px;
          font-weight: bold;
          margin-bottom: 12px;

          -webkit-transition: color 350ms;
          -moz-transition: color 350ms;
          -ms-transition: color 350ms;
          -o-transition: color 350ms;
          transition: color 350ms;

          &:hover {
            color: #0065ff;
          }
        }

        & > .#{$class}-item-items {
          display: block;
          margin-top: 12px;
        }
      }

      .#{$class}-item.#{$class}-item-level-1 {
        & > .#{$class}-item-content {
          .#{$class}-item-name {
            text-decoration: none;
            color: #1d1d1d;
            font-size: 14px;
            line-height: 26px;
            font-weight: normal;

            -webkit-transition: color 350ms;
            -moz-transition: color 350ms;
            -ms-transition: color 350ms;
            -o-transition: color 350ms;
            transition: color 350ms;

            &:hover {
              color: #0065ff;
            }
          }

          .#{$class}-item-icon {
            font-size: 16px;
            line-height: 1;
            height: 16px;
            width: 16px;
            color: #1d1d1d;
            text-align: center;
            cursor: pointer;

            -webkit-transition-duration: 350ms;
            -moz-transition-duration: 350ms;
            -ms-transition-duration: 350ms;
            -o-transition-duration: 350ms;
            transition-duration: 350ms;

            -webkit-transition-property: color, background, transform;
            -moz-transition-property: color, background, transform;
            -ms-transition-property: color, background, transform;
            -o-transition-property: color, background, transform;
            transition-property: color, background, transform;

            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;

            &:hover {
              background: #0065ff;
              color: #fff;
            }
          }
        }

        & > .#{$class}-item-items {
          display: block;
          height: 0;
          padding-left: 15px;
          overflow: hidden;

          -webkit-transition-duration: 350ms;
          -moz-transition-duration: 350ms;
          -ms-transition-duration: 350ms;
          -o-transition-duration: 350ms;
          transition-duration: 350ms;

          -webkit-transition-property: padding;
          -moz-transition-property: padding;
          -ms-transition-property: padding;
          -o-transition-property: padding;
          transition-property: padding;

          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }

        &[data-expanded="true"] {
          & > .#{$class}-item-content {
            .#{$class}-item-icon {
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              transform: rotate(180deg);
            }
          }

          & > .#{$class}-item-items {
            padding-top: 5px;
            padding-bottom: 10px;
          }
        }
      }

      .#{$class}-item.#{$class}-item-level-2 {
        & > .#{$class}-item-name {
          text-decoration: none;
          color: #1d1d1d;
          font-size: 12px;
          line-height: 21px;
          font-weight: normal;

          -webkit-transition: color 350ms;
          -moz-transition: color 350ms;
          -ms-transition: color 350ms;
          -o-transition: color 350ms;
          transition: color 350ms;

          &:hover {
            color: #0065ff;
          }
        }
      }
    }
  }
}