$component: 'stages';
$template: 'template-2';

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  box-sizing: $sizing;
}

.c-#{$component}.c-#{$component}-#{$template} {
  .widget-header + .widget-content {
    margin-top: 25px;
  }
  .widget-content {
    margin-left: -20px;
    margin-right: -20px;
  }
  .widget-element {
    margin-bottom: 20px;

    &-wrapper {
      position: relative;
      padding-top: 25px;
      height: 100%;
      @include box-sizing(border-box);
    }
    &-number {
      position: absolute;
      top: 0;
      left: 30px;
      font-size: 50px;
      font-weight: bold;
      line-height: 50px;
    }
    &-text {
      font-size: 14px;
      line-height: 21px;
      padding: 35px 30px 30px 30px;
      background-color: #f5f1dd;
      height: 100%;
      @include box-sizing(border-box);
    }

    @media all and (max-width: 600px) {
      &-text {
        font-size: 12px;
      }
    }
  }
}