.c-stages.c-stages-template-2 .widget-header + .widget-content {
  margin-top: 25px;
}
.c-stages.c-stages-template-2 .widget-content {
  margin-left: -20px;
  margin-right: -20px;
}
.c-stages.c-stages-template-2 .widget-element {
  margin-bottom: 20px;
}
.c-stages.c-stages-template-2 .widget-element-wrapper {
  position: relative;
  padding-top: 25px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.c-stages.c-stages-template-2 .widget-element-number {
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
}
.c-stages.c-stages-template-2 .widget-element-text {
  font-size: 14px;
  line-height: 21px;
  padding: 35px 30px 30px 30px;
  background-color: #f5f1dd;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media all and (max-width: 600px) {
  .c-stages.c-stages-template-2 .widget-element-text {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
