.c-services.c-services-template-3 .widget-header + .widget-content {
    margin-top: 25px;
}
.c-services.c-services-template-3 .widget-content {
    margin: 0 -10px;
}
.c-services.c-services-template-3 .widget-element-wrap {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.c-services.c-services-template-3 .widget-element {
    position: relative;
    overflow: hidden;
}
.c-services.c-services-template-3 .intec-grid-item-2 .widget-element {
    padding-bottom: 65%;
}
.c-services.c-services-template-3 .intec-grid-item-3 .widget-element {
    padding-bottom: 100%;
}
.c-services.c-services-template-3 .intec-grid-item-4 .widget-element {
    padding-bottom: 140%;
}
.c-services.c-services-template-3 .widget-element-picture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-services.c-services-template-3 .widget-element-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.c-services.c-services-template-3 .widget-element:hover .widget-element-picture {
    transform: scale(1.2);
}
.c-services.c-services-template-3 .widget-element-text {
    position: absolute;
    left: 30px;
    bottom: 45px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-right: 30px;
    max-width: 190px;
    pointer-events: none;
}
.c-services.c-services-template-3 .widget-element-text-wrapper {
    color: #FFF;
    -webkit-box-shadow: -5px 0 0 5px #0065ff, 5px 0 0 5px #0065ff;
    -moz-box-shadow: -5px 0 0 5px #0065ff, 5px 0 0 5px #0065ff;
    box-shadow: -5px 0 0 5px #0065ff, 5px 0 0 5px #0065ff;
}

.c-services.c-services-template-3 .widget-footer {
    margin-top: 35px;
    padding: 0;
}
.c-services.c-services-template-3 .widget-footer .widget-footer-all {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    padding: 18px 28px;
    border: 2px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-services.c-services-template-3 .widget-footer .widget-footer-all:hover {
    color: #FFF;
}

@media all and (max-width: 1000px) {
    .c-services.c-services-template-3 .intec-grid-item-4 .widget-element {
        padding-bottom: 100%;
    }
}
@media all and (max-width: 800px) {
    .c-services.c-services-template-3 .intec-grid-item-3 .widget-element,
    .c-services.c-services-template-3 .intec-grid-item-4 .widget-element {
        padding-bottom: 65%;
    }
}
@media all and (max-width: 600px) {
    .c-services.c-services-template-3 .intec-grid-item-2 .widget-element,
    .c-services.c-services-template-3 .intec-grid-item-3 .widget-element,
    .c-services.c-services-template-3 .intec-grid-item-4 .widget-element {
        padding-bottom: 50%;
    }
}
@media all and (max-width: 400px) {
    .c-services.c-services-template-3 .intec-grid-item-2 .widget-element,
    .c-services.c-services-template-3 .intec-grid-item-3 .widget-element,
    .c-services.c-services-template-3 .intec-grid-item-4 .widget-element {
        padding-bottom: 80%;
    }
}