@keyframes c-categories-template-4 {
    from {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(5px);
        -moz-transform: translateX(5px);
        -ms-transform: translateX(5px);
        -o-transform: translateX(5px);
        transform: translateX(5px);
    }
    to {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
.c-categories.c-categories-template-4 .widget-header + .widget-content {
    margin-top: 25px;
}
.c-categories.c-categories-template-4 .widget-content {
    margin-left: -10px;
    margin-right: -10px;
}
.c-categories.c-categories-template-4 .widget-element {
    position: relative;
    height: 300px;
}
.c-categories.c-categories-template-4 .widget-element-fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: background-color 0.8s;
    -moz-transition: background-color 0.8s;
    -ms-transition: background-color 0.8s;
    -o-transition: background-color 0.8s;
    transition: background-color 0.8s;
}
.c-categories.c-categories-template-4 .widget-element-wrapper:hover .widget-element-fade {
    background-color: rgba(0, 0, 0, 0.6);
}
.c-categories.c-categories-template-4 .widget-element-wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.c-categories.c-categories-template-4 .widget-element-information {
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
}
.c-categories.c-categories-template-4 .widget-element-name {
    position: absolute;
    color: white;
    font-size: 14px;
    line-height: 21px;
    bottom: 0;
    left: 0;
    background-color: #3A3A3B;
    padding: 8px;
    opacity: 0.8;
    -webkit-transition: left 0.8s;
    -moz-transition: left 0.8s;
    -ms-transition: left 0.8s;
    -o-transition: left 0.8s;
    transition: left 0.8s;
}
.c-categories.c-categories-template-4 .widget-element-wrapper:hover .widget-element-name.action {
    left: -100%;
}
.c-categories.c-categories-template-4 .widget-element-description-wrap {
    position: absolute;
    left: 100%;
    bottom: 0;
    opacity: 0;
    width: 100%;
    pointer-events: none;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}
.c-categories.c-categories-template-4 .widget-element-wrapper:hover .widget-element-description-wrap {
    pointer-events: all;
    opacity: 1;
    left: 0;
}
.c-categories.c-categories-template-4 .widget-element-description-name {
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
    max-height: 48px;
    overflow: hidden;
}
.c-categories.c-categories-template-4 .widget-element-description {
    font-size: 14px;
    color: white;
    line-height: 21px;
    overflow: hidden;
    max-height: 105px;
    margin-top: 10px;
}
.c-categories.c-categories-template-4 .widget-element-description-button {
    display: inline-block;
    font-size: 14px;
    background-color: #808080;
    color: white;
    padding: 10px 20px 10px 20px;
    opacity: 0.8;
    text-decoration: none;
    margin-top: 25px;
}
.c-categories.c-categories-template-4 .widget-element-description-button i {
    padding-left: 5px;
}
.c-categories.c-categories-template-4 .widget-element-description-button:hover i {
    animation-name: c-categories-template-4;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

@media all and (max-width: 500px) {
    .c-categories.c-categories-template-4 .widget-element {
        height: 350px;
    }
    .c-categories.c-categories-template-4 .widget-element-description {
        max-height: 147px;
    }
}