.c-categories.c-categories-template-2 .widget-header + .widget-content {
    margin-top: 25px;
}
.c-categories.c-categories-template-2 .widget-content {
    margin-right: -50px;
}
.c-categories.c-categories-template-2 .widget-element {
    margin-bottom: 40px;
}
.c-categories.c-categories-template-2 .widget-element-wrapper {
    position: relative;
}
.c-categories.c-categories-template-2 .widget-element-image-wrap {
    width: 120px;
    height: 120px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.c-categories.c-categories-template-2 .widget-element-text {
    margin-left: 150px;
    padding-right: 50px;
}
.c-categories.c-categories-template-2 .widget-element-name {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    padding-top: 5px;
    text-decoration: none;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}
.c-categories.c-categories-template-2 .widget-element-description {
    font-size: 14px;
    line-height: 21px;
    max-height: 84px;
    margin-top: 10px;
    overflow: hidden;
}

@media all and (max-width: 800px) {
    .c-categories.c-categories-template-2 .widget-content {
        margin-right: 0;
    }
    .c-categories.c-categories-template-2 .widget-element-text {
        padding-right: 0;
    }
}
@media all and (max-width: 450px) {
    .c-categories.c-categories-template-2 .widget-element-image-wrap {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .c-categories.c-categories-template-2 .widget-element-text {
        margin-left: 0;
        text-align: center;
        margin-top: 10px;
    }
}