.c-slider.c-slider-template-4 .widget-content {
    position: relative;
}
.c-slider.c-slider-template-4 .widget-element {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 0;
}
.c-slider.c-slider-template-4 .widget-element-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.c-slider.c-slider-template-4 .intec-content,
.c-slider.c-slider-template-4 .intec-content-wrapper {
    height: 100%;
}
.c-slider.c-slider-template-4 .widget-element-wrapper {
    position: relative;
    z-index: 1;
}
.c-slider.c-slider-template-4 .widget-element-wrapper-3 {
    display: table;
    width: 100%;
    height: 100%;
}
.c-slider.c-slider-template-4 .widget-element-wrapper-4 {
    display: table-cell;
    vertical-align: middle;
}
.c-slider.c-slider-template-4 .widget-element.widget-element-text-left .widget-element-wrapper-4 {
    text-align: left;
}
.c-slider.c-slider-template-4 .widget-element.widget-element-text-right .widget-element-wrapper-4 {
    text-align: right;
}
.c-slider.c-slider-template-4 .widget-element.widget-element-text-center .widget-element-wrapper-4 {
    text-align: center;
}
.c-slider.c-slider-template-4 .widget-element-content {
    display: inline-block;
    text-align: left;
    width: 50%;
}
.c-slider.c-slider-template-4 .widget-element.widget-element-text-center .widget-element-content {
    width: 100%;
    text-align: center;
}
.c-slider.c-slider-template-4 .widget-element-header {
    font-size: 55px;
    line-height: 60px;
}
.c-slider.c-slider-template-4 .widget-element-description {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
}
.c-slider.c-slider-template-4 .widget-element-button-wrap {
    font-size: 0;
    margin-top: 40px;
}
.c-slider.c-slider-template-4 .widget-element-button {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    color: #FFF;
    text-decoration: none;
    padding: 25px 40px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.c-slider.c-slider-template-4 .widget-text-block {
    font-size: 0;
    margin-top: 120px;
}
.c-slider.c-slider-template-4 .widget-text-element {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    border-left: 1px solid;
    width: 25%;
    height: 100%;
    padding: 0 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.c-slider.c-slider-template-4 .widget-text-name {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.2;
}
.c-slider.c-slider-template-4 .widget-text-description {
    font-size: 16px;
    line-height: 1.2;
    margin-top: 20px;
}

.c-slider.c-slider-template-4 .slide-black .widget-element-header,
.c-slider.c-slider-template-4 .slide-black .widget-element-description,
.c-slider.c-slider-template-4 .slide-black .widget-text-element {
    color: #FFF;
}
.c-slider.c-slider-template-4 .slide-white .widget-element-header,
.c-slider.c-slider-template-4 .slide-white .widget-element-description,
.c-slider.c-slider-template-4 .slide-white .widget-text-element {
    color: #000;
}

.c-slider.c-slider-template-4 .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 0;
    text-align: center;
    pointer-events: none;
}
.c-slider.c-slider-template-4 .owl-dot {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    pointer-events: initial;
}
.c-slider.c-slider-template-4 .owl-dot span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border 350ms, background 350ms;
    -moz-transition: border 350ms, background 350ms;
    -ms-transition: border 350ms, background 350ms;
    -o-transition: border 350ms, background 350ms;
    transition: border 350ms, background 350ms;
}
.c-slider.c-slider-template-4 .owl-dot.active span {
    background: #000;
}
.c-slider.c-slider-template-4[data-color="white"] .owl-dot span {
    border-color: #fff;
}
.c-slider.c-slider-template-4[data-color="white"] .owl-dot.active span {
    background: #fff;
}

@media all and (max-width: 1180px) {
    .c-slider.c-slider-template-4 .widget-element-video-wrap {
        display: none;
    }
}
@media all and (max-width: 1024px) {
    .c-slider.c-slider-template-4 .widget-text-block {
        display: none;
    }
}
@media all and (max-width: 720px) {
    .c-slider.c-slider-template-4 .widget-element {
        height: 500px!important;
    }
    .c-slider.c-slider-template-4 .widget-element.widget-element-text-right .widget-element-wrapper-4 .widget-element-content,
    .c-slider.c-slider-template-4 .widget-element.widget-element-text-left .widget-element-wrapper-4 .widget-element-content {
        width: 100%;
        text-align: center;
    }
    .c-slider.c-slider-template-4 .widget-element-header {
        font-size: 35px;
        line-height: 40px;
    }
    .c-slider.c-slider-template-4 .widget-element-description {
        font-size: 16px;
    }
}
@media all and (max-width: 500px) {
    .c-slider.c-slider-template-4 .widget-element {
        height: 350px!important;
    }
    .c-slider.c-slider-template-4 .widget-element-header {
        font-size: 20px;
        line-height: 25px;
    }
    .c-slider.c-slider-template-4 .widget-element-description {
        font-size: 12px;
        margin-top: 10px;
        line-height: 18px;
    }
    .c-slider.c-slider-template-4 .widget-element-button-wrap {
        margin-top: 15px;
    }
    .c-slider.c-slider-template-4 .widget-element-button {
        font-size: 11px;
        line-height: 11px;
        padding: 10px 15px;
    }
}