.c-header.c-header-template-1 .widget-view.widget-view-desktop {
  z-index: 110;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-view-desktop-6 {
  display: block;
  border-bottom: 1px solid #e8e8e8;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-item {
  padding-top: 20px;
  padding-bottom: 20px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-logotype {
  display: block;
  width: 130px;
  text-decoration: none;
  color: #1d1d1d;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-logotype svg {
  max-height: 50px;
}
@media all and (max-width: 900px) {
  .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-logotype {
    width: 80px;
  }
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts {
  white-space: nowrap;
  font-size: 0;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts .widget-phone .widget-phone-arrow, .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts .widget-phone .widget-phone-content {
  display: inline-block;
  vertical-align: middle;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts .widget-phone-content {
  position: relative;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts .widget-phone-text {
  font-size: 21px;
  line-height: 31px;
  color: #1d1d1d;
  text-decoration: none;
  white-space: normal;
  -webkit-transition: 350ms color;
  -moz-transition: 350ms color;
  -ms-transition: 350ms color;
  -o-transition: 350ms color;
  transition: 350ms color;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts .widget-phone-text:hover {
  color: #0065ff;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts .widget-phone-popup {
  position: absolute;
  display: none;
  opacity: 0;
  top: 100%;
  left: -20px;
  right: -50px;
  padding-top: 10px;
  white-space: normal;
  z-index: 1;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts .widget-phone-popup-wrapper {
  padding: 10px;
  background: #fff;
  width: 100%;
  min-width: 140px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts .widget-phone-popup-item {
  display: block;
  text-align: left;
  font-size: 21px;
  line-height: 31px;
  color: #2d2d2d;
  text-decoration: none;
  padding: 10px;
  -webkit-transition: 350ms color;
  -moz-transition: 350ms color;
  -ms-transition: 350ms color;
  -o-transition: 350ms color;
  transition: 350ms color;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts .widget-phone-popup-item:hover {
  color: #0065ff;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts .widget-phone-arrow {
  font-size: 16px;
  width: 16px;
  text-align: right;
  line-height: 1;
  color: #2d2d2d;
  margin-left: 10px;
}
@media all and (max-width: 900px) {
  .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts .widget-phone-text {
    font-size: 14px;
    line-height: 21px;
  }
  .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts .widget-phone-popup-item {
    font-size: 14px;
    line-height: 21px;
  }
  .c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts .widget-phone-arrow {
    font-size: 10px;
  }
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts .widget-email {
  display: inline-block;
  position: relative;
  font-size: 14px;
  line-height: 21px;
  color: #2d2d2d;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: opacity 500ms, color 350ms;
  -moz-transition: opacity 500ms, color 350ms;
  -ms-transition: opacity 500ms, color 350ms;
  -o-transition: opacity 500ms, color 350ms;
  transition: opacity 500ms, color 350ms;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts .widget-email-wrap {
  display: block;
  text-align: right;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts .widget-email:hover {
  color: #0065ff;
  border-color: #0065ff;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts[data-multiple=true] .widget-email-wrap {
  margin-right: 26px;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-contacts[data-expanded=true] .widget-email {
  opacity: 0;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-button {
  display: block;
  position: relative;
  padding: 20px 30px;
  color: #fff;
  cursor: pointer;
  background: #0065ff;
  -webkit-transition: background 350ms;
  -moz-transition: background 350ms;
  -ms-transition: background 350ms;
  -o-transition: background 350ms;
  transition: background 350ms;
}
.c-header.c-header-template-1 .widget-view.widget-view-desktop .widget-button:hover {
  background: #3384ff;
}
.c-header.c-header-template-1.widget-transparent .widget-view.widget-view-desktop .widget-view-desktop-6 {
  border-bottom: none;
}
.c-header.c-header-template-1.widget-transparent .widget-view.widget-view-desktop .widget-phone-popup {
  padding-top: 0;
}
.c-header.c-header-template-1.widget-transparent .widget-view.widget-view-desktop .widget-phone-popup-wrapper {
  background: transparent;
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-contacts .widget-email, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-logotype svg, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-logotype path, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-contacts .widget-email, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-contacts .widget-phone-arrow, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-contacts .widget-phone-popup-item, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-contacts .widget-phone-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-logotype svg, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-logotype path, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-menu .ns-bitrix.c-menu.c-menu-popup-1 .menu-button {
  -webkit-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  -moz-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  -ms-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  -o-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-contacts .widget-email, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-contacts .widget-phone-arrow, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-contacts .widget-phone-popup-item, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-contacts .widget-phone-text, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-logotype svg, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-logotype path, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-menu .ns-bitrix.c-menu.c-menu-popup-1 .menu-button {
  color: #fff !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-logotype svg, .c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-logotype path {
  fill: #fff !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-contacts .widget-email {
  border-color: #fff !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-menu .ns-bitrix.c-menu.c-menu-popup-1 .menu-button:hover {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-contacts .widget-phone-text:hover {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-contacts .widget-phone-popup-item:hover {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=white] .widget-view.widget-view-desktop .widget-contacts .widget-email:hover {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-contacts .widget-email, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-logotype svg, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-logotype path, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-contacts .widget-email, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-contacts .widget-phone-arrow, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-contacts .widget-phone-popup-item, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-contacts .widget-phone-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-logotype svg, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-logotype path, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-menu .ns-bitrix.c-menu.c-menu-popup-1 .menu-button {
  -webkit-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  -moz-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  -ms-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  -o-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
  transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-contacts .widget-email, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-contacts .widget-phone-arrow, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-contacts .widget-phone-popup-item, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-contacts .widget-phone-text, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-logotype svg, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-logotype path, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-menu .ns-bitrix.c-menu.c-menu-popup-1 .menu-button {
  color: #000 !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-logotype svg, .c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-logotype path {
  fill: #000 !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-contacts .widget-email {
  border-color: #000 !important;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-menu .ns-bitrix.c-menu.c-menu-popup-1 .menu-button:hover {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-contacts .widget-phone-text:hover {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-contacts .widget-phone-popup-item:hover {
  opacity: 0.5;
}
.c-header.c-header-template-1.widget-transparent[data-color=black] .widget-view.widget-view-desktop .widget-contacts .widget-email:hover {
  opacity: 0.5;
}

/*# sourceMappingURL=style.css.map */
