$component: 'header';
$template: 'template-1';
$class: #{$component};
$themes: (
  'white': #fff,
  'black': #000
);

.c-#{$component}.c-#{$component}-#{$template} {
  .widget-view.widget-view-desktop {
    z-index: 110;

    .widget-view-desktop-4 {
      display: block;
      border-bottom: 1px solid #e8e8e8;
    }

    .widget-item {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .widget-menu {}

    .widget-logotype {
      display: block;
      width: 130px;
      text-decoration: none;
      color: #1d1d1d;

      svg {
        max-height: 50px;
      }

      @media all and (max-width: 900px) {
        width: 80px;
      }
    }

    .widget-tagline {
      display: block;

      &-text {
        display: block;
        max-width: 300px;
        font-size: 12px;
        line-height: 16px;
        max-height: 48px;
        overflow: hidden;
        color: #1d1d1d;
      }

      @media all and (max-width: 1050px) {
        &-wrap { display: none; }
      }
    }

    .widget-email {
      &-text {
        font-size: 15px;
        line-height: 21px;
        color: #1d1d1d;

        -webkit-transition: 350ms color;
        -moz-transition: 350ms color;
        -ms-transition: 350ms color;
        -o-transition: 350ms color;
        transition: 350ms color;

        &:hover {
          color: #0065ff;
        }
      }
    }

    .widget-phone {
      white-space: nowrap;
      font-size: 0;

      %widget-phone-item {
        display: inline-block;
        vertical-align: middle;
      }

      &-content {
        @extend %widget-phone-item;

        position: relative;
      }

      &-text {
        font-size: 21px;
        line-height: 31px;
        color: #1d1d1d;
        text-decoration: none;
        white-space: normal;

        -webkit-transition: 350ms color;
        -moz-transition: 350ms color;
        -ms-transition: 350ms color;
        -o-transition: 350ms color;
        transition: 350ms color;

        &:hover {
          color: #0065ff;
        }
      }

      &-popup {
        position: absolute;
        display: none;
        opacity: 0;
        top: 100%;
        left: -20px;
        right: -50px;
        padding-top: 10px;
        white-space: normal;
        z-index: 1;

        &-wrapper {
          padding: 10px;
          background: #fff;
          width: 100%;
          min-width: 140px;
          -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        }

        &-item {
          display: block;
          text-align: left;
          font-size: 21px;
          line-height: 31px;
          color: #2d2d2d;
          text-decoration: none;
          padding: 10px;

          -webkit-transition: 350ms color;
          -moz-transition: 350ms color;
          -ms-transition: 350ms color;
          -o-transition: 350ms color;
          transition: 350ms color;

          &:hover {
            color: #0065ff;
          }
        }
      }

      &-arrow {
        @extend %widget-phone-item;

        font-size: 16px;
        width: 16px;
        text-align: right;
        line-height: 1;
        color: #2d2d2d;
        margin-left: 10px;
      }

      @media all and (max-width: 900px) {
        &-text {
          font-size: 14px;
          line-height: 21px;
        }

        &-popup {
          &-item {
            font-size: 14px;
            line-height: 21px;
          }
        }

        &-arrow {
          font-size: 10px;
        }
      }
    }

    .widget-button {
      &-wrap {
        margin-right: 15px;
        margin-left: 15px;
        padding-right: 25px !important;
        padding-left: 25px !important;
        margin-bottom: 10px;
        background: #0065ff;

        -webkit-transition: background 350ms;
        -moz-transition: background 350ms;
        -ms-transition: background 350ms;
        -o-transition: background 350ms;
        transition: background 350ms;
        cursor: pointer;

        &:hover {
          background: #3384ff;
        }
      }

      height: 100%;
      padding-bottom: 10px;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      &-icon,
      &-text {
        font-size: 14px;
        line-height: 21px;
        color: #fff;
      }

      &-icon {
        line-height: 1;
      }
    }
  }

  &.widget-transparent {
    .widget-view.widget-view-desktop {
      .widget-view-desktop-4 {
        border-bottom: none;
      }

      .widget-phone {
        &-popup {
          padding-top: 0;

          &-wrapper {
            background: transparent;
            width: 100%;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
          }
        }
      }
    }

    @each $name, $color in $themes {
      %theme-#{$name}-element {
        -webkit-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
        -moz-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
        -ms-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
        -o-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
        transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
      }

      %theme-#{$name}-element-color {
        @extend %theme-#{$name}-element;
        color: $color !important;
      }

      %theme-#{$name}-element-fill {
        @extend %theme-#{$name}-element;
        fill: $color !important;
      }

      &[data-color="#{$name}"] {
        .widget-view.widget-view-desktop {
          .widget-menu {
            .ns-bitrix.c-menu.c-menu-popup-1 {
              .menu-button {
                @extend %theme-#{$name}-element-color;

                &:hover {
                  opacity: 0.5;
                }
              }
            }
          }

          .widget-logotype {
            svg, path {
              @extend %theme-#{$name}-element-color;
              @extend %theme-#{$name}-element-fill;
            }
          }

          .widget-tagline {
            &-text { @extend %theme-#{$name}-element-color; }
          }

          .widget-email {
            &-text {
              @extend %theme-#{$name}-element-color;

              &:hover {
                opacity: 0.5;
              }
            }
          }

          .widget-phone {
            &-text {
              @extend %theme-#{$name}-element-color;

              &:hover {
                opacity: 0.5;
              }
            }

            &-popup {
              &-item {
                @extend %theme-#{$name}-element-color;

                &:hover {
                  opacity: 0.5;
                }
              }

            }

            &-arrow { @extend %theme-#{$name}-element-color; }
          }
        }
      }
    }
  }
}