$component: 'header';
$template: 'template-1';
$class: #{$component};
$themes: (
  'white': #fff,
  'black': #000
);

.c-#{$component}.c-#{$component}-#{$template} {
  .widget-view.widget-view-desktop {
    .widget-view-desktop-7 {
      display: block;
      border-bottom: 1px solid #e8e8e8;
    }

    .widget-wrapper {
      position: relative;
      min-height: 80px;
    }

    .widget-item {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .widget-menu {
      padding: 0;
      height: 100%;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      .ns-bitrix.c-menu.c-menu-horizontal-1 {
        height: 100%;

        .intec-content,
        .intec-content-wrapper {
          height: 100%;
        }

        .menu-wrapper {
          position: static;
          height: 100%;

          .menu-item .menu-item-text-wrapper {
            color: #1d1d1d !important;
          }
        }
      }

      &-wrap {
        position: static;
      }
    }

    .widget-logotype {
      display: block;
      width: 130px;
      text-decoration: none;
      color: #1d1d1d;

      svg {
        max-height: 50px;
      }

      @media all and (max-width: 900px) {
        width: 80px;
      }
    }

    .widget-contacts {
      white-space: nowrap;
      font-size: 0;

      .widget-phone {
        %widget-phone-item {
          display: inline-block;
          vertical-align: middle;
        }

        &-content {
          @extend %widget-phone-item;

          position: relative;
        }

        &-text {
          font-size: 21px;
          line-height: 31px;
          color: #1d1d1d;
          text-decoration: none;
          white-space: normal;

          -webkit-transition: 350ms color;
          -moz-transition: 350ms color;
          -ms-transition: 350ms color;
          -o-transition: 350ms color;
          transition: 350ms color;

          &:hover {
            color: #0065ff;
          }
        }

        &-popup {
          position: absolute;
          display: none;
          opacity: 0;
          top: 100%;
          left: -20px;
          right: -50px;
          padding-top: 10px;
          white-space: normal;
          z-index: 1;

          &-wrapper {
            padding: 10px;
            background: #fff;
            width: 100%;
            min-width: 140px;
            -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          }

          &-item {
            display: block;
            text-align: left;
            font-size: 21px;
            line-height: 31px;
            color: #2d2d2d;
            text-decoration: none;
            padding: 10px;

            -webkit-transition: 350ms color;
            -moz-transition: 350ms color;
            -ms-transition: 350ms color;
            -o-transition: 350ms color;
            transition: 350ms color;

            &:hover {
              color: #0065ff;
            }
          }
        }

        &-arrow {
          @extend %widget-phone-item;

          font-size: 16px;
          width: 16px;
          text-align: right;
          line-height: 1;
          color: #2d2d2d;
          margin-left: 10px;
        }

        @media all and (max-width: 900px) {
          &-text {
            font-size: 14px;
            line-height: 21px;
          }

          &-popup {
            &-item {
              font-size: 14px;
              line-height: 21px;
            }
          }

          &-arrow {
            font-size: 10px;
          }
        }
      }

      .widget-button {
        display: inline-block;
        position: relative;
        font-size: 12px;
        line-height: 16px;
        color: #2d2d2d;
        cursor: pointer;
        border-bottom: 1px dashed #2d2d2d;

        -webkit-transition: opacity 500ms, color 350ms, border 350ms;
        -moz-transition: opacity 500ms, color 350ms, border 350ms;
        -ms-transition: opacity 500ms, color 350ms, border 350ms;
        -o-transition: opacity 500ms, color 350ms, border 350ms;
        transition: opacity 500ms, color 350ms, border 350ms;

        &-wrap {
          display: block;
          text-align: right;
        }

        &:hover {
          color: #0065ff;
          border-color: #0065ff;
        }
      }

      &[data-multiple=true] {
        .widget-button {
          &-wrap {
            margin-right: 26px;
          }
        }
      }

      &[data-expanded=true] {
        .widget-button {
          opacity: 0;
        }
      }
    }
  }

  &.widget-transparent {
    .widget-view.widget-view-desktop {
      .widget-view-desktop-7 {
        border-bottom: none;
      }

      .widget-menu {
        .ns-bitrix.c-menu.c-menu-horizontal-1 {
          .menu-item {
            .menu-item-text-wrapper {
              position: relative;

              &:after {
                content: '';
                display: block;
                position: absolute;
                top: 100%;
                left: 0;
                right: 100%;
                bottom: -1px;
                background: #fff;

                -webkit-transition: right 350ms;
                -moz-transition: right 350ms;
                -ms-transition: right 350ms;
                -o-transition: right 350ms;
                transition: right 350ms;
              }
            }

            &:hover {
              .menu-item-text-wrapper {
                &:after {
                  right: 0;
                }
              }
            }

            &.menu-item-more {
              .menu-item-text-wrapper {
                &:after {
                  display: none;
                }
              }
            }
          }
        }
      }

      .widget-phone {
        &-popup {
          padding-top: 0;

          &-wrapper {
            background: transparent;
            width: 100%;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
          }
        }
      }
    }

    @each $name, $color in $themes {
      %theme-#{$name}-element {
        -webkit-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
        -moz-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
        -ms-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
        -o-transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
        transition: color 350ms, background 350ms, border 350ms, fill 350ms, opacity 350ms;
      }

      %theme-#{$name}-element-color {
        @extend %theme-#{$name}-element;
        color: $color !important;
      }

      %theme-#{$name}-element-fill {
        @extend %theme-#{$name}-element;
        fill: $color !important;
      }

      %theme-#{$name}-element-border {
        @extend %theme-#{$name}-element;
        border-color: $color !important;
      }

      &[data-color="#{$name}"] {
        .widget-view.widget-view-desktop {
          .widget-menu {
            .ns-bitrix.c-menu.c-menu-horizontal-1 {
              .menu-item {
                .menu-item-text .menu-item-text-wrapper {
                  @extend %theme-#{$name}-element-color;

                  &:after {
                    background: $color;
                  }
                }
              }

              .menu-item:hover {
                .menu-item-text .menu-item-text-wrapper {
                  opacity: 0.5;
                }
              }
            }
          }

          .widget-logotype {
            svg, path {
              @extend %theme-#{$name}-element-color;
              @extend %theme-#{$name}-element-fill;
            }
          }

          .widget-contacts {
            .widget-phone {
              &-text {
                @extend %theme-#{$name}-element-color;

                &:hover {
                  opacity: 0.5;
                }
              }

              &-popup {
                &-item {
                  @extend %theme-#{$name}-element-color;

                  &:hover {
                    opacity: 0.5;
                  }
                }
              }

              &-arrow {
                @extend %theme-#{$name}-element-color;
              }
            }

            .widget-button {
              @extend %theme-#{$name}-element-color;
              @extend %theme-#{$name}-element-border;

              &:hover {
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }
}