.c-certificates.c-certificates-template-1 .widget-header + .widget-content {
    margin-top: 25px;
}
.c-certificates.c-certificates-template-1 .widget-content {
    margin-left: -20px;
    margin-right: -20px;
}
.c-certificates.c-certificates-template-1 .widget-element {
    margin: 0 20px 35px 20px;
}
.c-certificates.c-certificates-template-1 .widget-element-picture-wrap {
    display: inline-block;
    width: 100%;
    padding-bottom: 150%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.c-certificates.c-certificates-template-1 .widget-element:hover .widget-element-picture-wrap {
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
.c-certificates.c-certificates-template-1 .widget-element-picture-wrap img {
    display: none;
}
.c-certificates.c-certificates-template-1 .widget-element-name {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    cursor: default;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}
.c-certificates.c-certificates-template-1 .widget-element:hover .widget-element-name {
    color: #0065ff;
}
.c-certificates.c-certificates-template-1 .widget-footer {
    margin-top: 25px;
}
.c-certificates.c-certificates-template-1 .widget-footer-all {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    padding: 15px;
    border: 2px solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.c-certificates.c-certificates-template-1 .widget-footer-all:hover {
    color: #FFF;
}

@media all and (max-width: 500px) {
    .c-certificates.c-certificates-template-1 .widget-element-name {
        font-size: 14px;
    }
}