.c-slider.c-slider-template-3 .widget-slider-content {
    position: relative;
}
.c-slider.c-slider-template-3 .widget-element {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;
}
.c-slider.c-slider-template-3 .widget-element-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.c-slider.c-slider-template-3 .widget-element-wrapper {
    z-index: 1;
}
.c-slider.c-slider-template-3 .widget-element-wrapper,
.c-slider.c-slider-template-3 .widget-element-wrapper-2,
.c-slider.c-slider-template-3 .widget-element-wrapper-3 {
    position: relative;
    height: 100%;
}
.c-slider.c-slider-template-3 .widget-element-content {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
}
.c-slider.c-slider-template-3 .widget-element-image {
    position: absolute;
    display: table;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: 1;
}
.c-slider.c-slider-template-3 .widget-element-image-left {
    right: 0;
}
.c-slider.c-slider-template-3 .widget-element-image-right {
    left: 0;
}
.c-slider.c-slider-template-3 .widget-element-image-wrapper {
    display: table-cell;
}
.c-slider.c-slider-template-3 .widget-element-image-wrapper img {
    max-width: 100%;
    max-height: 100%;
}
.c-slider.c-slider-template-3 .widget-element-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 2;
}
.c-slider.c-slider-template-3 .widget-element-text-left {
    text-align: left;
}
.c-slider.c-slider-template-3 .widget-element-text-right {
    text-align: right;
}
.c-slider.c-slider-template-3 .widget-element-text-center {
    text-align: center;
}
.c-slider.c-slider-template-3 .widget-element-text-blocks {
    display: inline-block;
    width: 50%;
}
.c-slider.c-slider-template-3 .widget-element-text-center .widget-element-text-blocks {
    width: 100%;
}
.c-slider.c-slider-template-3 .widget-element-text-header {
    font-size: 60px;
    font-weight: 900;
    line-height: 1;
}
.c-slider.c-slider-template-3 .widget-element-text-description {
    font-size: 18px;
    margin-top: 30px;
}
.c-slider.c-slider-template-3 .widget-element-text-button-wrapper {
    font-size: 0;
    margin-top: 30px;
}
.c-slider.c-slider-template-3 .widget-element-text-button {
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    color: #FFF;
    text-decoration: none;
    padding: 20px 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -ms-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}
.c-slider.c-slider-template-3 .widget-element-insertions {
    text-align: center;
    font-size: 0;
    margin-top: 60px;
}
.c-slider.c-slider-template-3 .widget-element-insertion {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}
.c-slider.c-slider-template-3 .widget-element-insertion-header {
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
    max-width: 160px;
}
.c-slider.c-slider-template-3 .widget-element-insertion-description {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    max-width: 160px;
    margin-top: 20px;
}
.c-slider.c-slider-template-3 .widget-element-insertion-center .widget-element-insertion-header,
.c-slider.c-slider-template-3 .widget-element-insertion-center .widget-element-insertion-description {
    margin-left: auto;
    margin-right: auto;
}
.c-slider.c-slider-template-3 .owl-dots {
    position: absolute;
    bottom: 25px;
    width: 100%;
    font-size: 0;
    text-align: center;
    pointer-events: none;
    z-index: 3;
}
.c-slider.c-slider-template-3 .owl-dot {
    display: inline-block;
    margin: 0 10px;
}
.c-slider.c-slider-template-3 .owl-dot span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    pointer-events: all;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

/* WHITE THEME */
.c-slider.c-slider-template-3 .widget-element[data-color = 'black'] .widget-element-text-header,
.c-slider.c-slider-template-3 .widget-element[data-color = 'black'] .widget-element-text-description,
.c-slider.c-slider-template-3 .widget-element[data-color = 'black'] .widget-element-insertion-header,
.c-slider.c-slider-template-3 .widget-element[data-color = 'black'] .widget-element-insertion-description {
    color: #FFF;
}
.c-slider.c-slider-template-3[data-color = 'white'] .owl-dot span {
    border-color: #FFF;
}
.c-slider.c-slider-template-3[data-color = 'white'] .owl-dot.active span {
    background-color: #FFF;
}

/* BLACK THEME */
.c-slider.c-slider-template-3 .widget-element[data-color = 'white'] .widget-element-text-header,
.c-slider.c-slider-template-3 .widget-element[data-color = 'white'] .widget-element-text-description,
.c-slider.c-slider-template-3 .widget-element[data-color = 'white'] .widget-element-insertion-header,
.c-slider.c-slider-template-3 .widget-element[data-color = 'white'] .widget-element-insertion-description {
    color: #000;
}
.c-slider.c-slider-template-3[data-color = 'black'] .owl-dot span {
    border-color: #000;
}
.c-slider.c-slider-template-3[data-color = 'black'] .owl-dot.active span {
    background-color: #000;
}

@media all and (max-width: 1180px) {
    .c-slider.c-slider-template-3 .widget-element-video-wrap {
        display: none;
    }
}
@media all and (max-width: 980px) {
    .c-slider.c-slider-template-3 .widget-element-text-header {
        font-size: 50px;
    }
    .c-slider.c-slider-template-3 .widget-element-insertions {
        display: none;
    }
}
@media all and (max-width: 720px) {
    .c-slider.c-slider-template-3 .widget-element {
        height: 500px!important;
    }
    .c-slider.c-slider-template-3 .widget-element-image {
        display: none;
    }
    .c-slider.c-slider-template-3 .widget-element-text-blocks {
        width: 100%;
        text-align: center;
    }
    .c-slider.c-slider-template-3 .widget-element-text-header {
        font-size: 35px;
    }
}
@media all and (max-width: 500px) {
    .c-slider.c-slider-template-3 .widget-element {
        height: 350px!important;
    }
    .c-slider.c-slider-template-3 .widget-element-text-header {
        font-size: 20px;
    }
    .c-slider.c-slider-template-3 .widget-element-text-description {
        font-size: 12px;
        margin-top: 10px;
        line-height: 18px;
    }
    .c-slider.c-slider-template-3 .widget-element-text-button-wrap {
        margin-top: 15px;
    }
    .c-slider.c-slider-template-3 .widget-element-text-button {
        font-size: 11px;
        line-height: 11px;
        padding: 10px 15px;
    }
}