$component: 'header';
$template: 'template-1';
$class: #{$component};

.c-#{$component}.c-#{$component}-#{$template} {
  .widget-view.widget-view-mobile {
    .widget-view-mobile-1 {
      display: block;
      background: #fff;
      -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
      -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
      box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);

      &.widget-view-mobile-1-filled {
        background: #0065ff;

        .widget-menu {
          .ns-bitrix.c-menu.c-menu-mobile-1 {
            .menu-button {
              color: #fff !important;
            }
          }
        }

        .widget-logotype {
          svg, path {
            color: #fff !important;
            fill: #fff !important;
          }
        }

        .widget-search {
          color: #fff !important;
        }

        .widget-basket {
          .ns-intec-universe.c-s-basket-icons.c-s-basket-icons-default {
            .basket-icons-item {
              color: #fff !important;
            }
          }
        }

        .widget-authorization {
          .widget-authorization-item {
            color: #fff !important;
          }
        }
      }
    }

    .widget-wrapper {
      position: relative;
    }
    .widget-wrapper-2 {}
    .widget-wrapper-3 {}

    .widget-item {
      padding: 20px 0;
    }

    .widget-menu {
      &-wrap {
        position: static;
      }
    }

    .widget-logotype {
      &-wrap {
        text-align: center;
      }

      display: inline-block;
      width: 100%;
      max-width: 130px;
      text-decoration: none;
      color: #1d1d1d;

      svg {
        max-height: 50px;
      }
    }

    .widget-search {
      display: block;
      line-height: 1;
      font-size: 20px;
      color: #bebebf;

      -webkit-transition: color 350ms;
      -moz-transition: color 350ms;
      -ms-transition: color 350ms;
      -o-transition: color 350ms;
      transition: color 350ms;

      &-hover {
        color: #0065ff;
      }
    }

    .widget-basket {}

    .widget-authorization {
      .widget-authorization-items {
        margin-right: -10px !important;
        margin-left: -10px !important;
      }

      .widget-authorization-item-wrap {
        padding-right: 10px !important;
        padding-left: 10px !important;
      }
    }
  }
}