.c-stages.c-stages-template-1 .widget-header + .widget-content {
  margin-top: 25px;
}
.c-stages.c-stages-template-1 .widget-element {
  font-size: 0;
}
.c-stages.c-stages-template-1 .widget-element.widget-element-left {
  text-align: left;
}
.c-stages.c-stages-template-1 .widget-element.widget-element-right {
  text-align: right;
}
.c-stages.c-stages-template-1 .widget-element-wrapper {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 50%;
}
.c-stages.c-stages-template-1 .widget-element-number {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  margin-top: 10px;
}
.c-stages.c-stages-template-1 .widget-element-name {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  margin-top: 7px;
}
.c-stages.c-stages-template-1 .widget-element-description {
  font-size: 14px;
  line-height: 21px;
  padding: 25px;
  margin-top: 15px;
  background-color: #F5F1DD;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
@media all and (max-width: 900px) {
  .c-stages.c-stages-template-1 .widget-element-wrapper {
    width: 75%;
  }
}
@media all and (max-width: 600px) {
  .c-stages.c-stages-template-1 .widget-element {
    margin-bottom: 30px;
  }
  .c-stages.c-stages-template-1 .widget-element-wrapper {
    width: 100%;
  }
  .c-stages.c-stages-template-1 .widget-element-number {
    margin-top: 0;
  }
  .c-stages.c-stages-template-1 .widget-element-description {
    padding: 15px;
    font-size: 12px;
    line-height: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
