$component: 'stages';
$template: 'template-1';

.c-#{$component}.c-#{$component}-#{$template} {
  .widget-header {
    & + .widget-content {
      margin-top: 25px;
    }
  }
  .widget-element {
    font-size: 0;

    &.widget-element-left {
      text-align: left;
    }
    &.widget-element-right {
      text-align: right;
    }
    &-wrapper {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      width: 50%;
    }
    &-number {
      font-size: 45px;
      font-weight: bold;
      line-height: 45px;
      margin-top: 10px;
    }
    &-name {
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
      margin-top: 7px;
    }
    &-description {
      font-size: 14px;
      line-height: 21px;
      padding: 25px;
      margin-top: 15px;
      background-color: #F5F1DD;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }

    @media all and (max-width: 900px) {
      &-wrapper {
        width: 75%;
      }
    }
    @media all and (max-width: 600px) {
      margin-bottom: 30px;

      &-wrapper {
        width: 100%;
      }
      &-number {
        margin-top: 0;
      }
      &-description {
        padding: 15px;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}